Repository strawberry-graphql/strawberry, pull requests merged in 2019-09, with the labels that each got.

#135 Send comment via API
  .github/release-check-action/check.py
  .github/release-check-action/comment_templates.py
  .github/release-check-action/config.py
  .github/release-check-action/github.py
  .github/workflows/release-check.yml
  .isort.cfg
  RELEASE.md
Labels: bot:has-release-file, bot:release-type-minor

#123 Add Django Support
  .circleci/config.yml
  RELEASE.md
  poetry.lock
  pyproject.toml
  pytest.ini
  strawberry/contrib/django/__init__.py
  strawberry/contrib/django/apps.py
  strawberry/contrib/django/templates/graphql/playground.html
  strawberry/contrib/django/tests/django_settings.py
  strawberry/contrib/django/tests/models.py
  strawberry/contrib/django/tests/test_views.py
  strawberry/contrib/django/views.py
Labels: bot:has-release-file, bot:release-type-patch

#136 Fix for arguments conversion
  RELEASE.md
  strawberry/utils/dict_to_type.py
  tests/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-patch, bug, help wanted

#140 Don't try to convert optional arguments to dataclasses
  RELEASE.md
  strawberry/utils/dict_to_type.py
  tests/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-patch

#138 Fix conversion of enums when value is falsy
  RELEASE.md
  strawberry/utils/dict_to_type.py
  tests/test_enum.py
Labels: bot:release-type-patch

#146 Add flake8-bugbear to catch likely bugs
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/enum.py
  strawberry/schema.py
  strawberry/type.py
Labels: bot:has-release-file, bot:release-type-patch

#147 Fix mypy plugin
  RELEASE.md
  poetry.lock
  pyproject.toml
  pytest.ini
  strawberry/ext/mypy_plugin.py
  tests/mypy/config.cfg
  tests/mypy/test_plugin.yml
Labels: bot:has-release-file, bot:release-type-patch

#150 Update graphql-core
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-minor

#165 Remove custom __repr__
  RELEASE.md
  strawberry/enum.py
  strawberry/printer.py
  strawberry/type.py
  tests/test_cyclic/test_cyclic.py
  tests/test_declaring_types.py
  tests/test_input_types.py
  tests/test_interface.py
  tests/test_repr.py
  tests/test_subscription.py
Labels: bot:has-release-file, bot:release-type-patch
