Repository strawberry-graphql/strawberry, pull requests merged in 2020-10, with the labels that each got.

#480 fix typo
  RELEASE.md
  strawberry/types/type_resolver.py
Labels: bot:has-release-file, bot:release-type-patch

#479 Add a Private class to exclude fields from the schema
  RELEASE.md
  strawberry/__init__.py
  strawberry/exceptions.py
  strawberry/ext/mypy_plugin.py
  strawberry/private.py
  strawberry/types/type_resolver.py
  tests/mypy/test_plugin.yml
  tests/schema/test_private_field.py
Labels: bot:has-release-file, bot:release-type-minor

#484 Bugfix: Allow using a Union multiple times
  RELEASE.md
  strawberry/federation.py
  strawberry/schema/base.py
  strawberry/schema/schema.py
  strawberry/schema/types/types.py
  strawberry/schema/types/union.py
  tests/schema/test_union.py
Labels: bot:has-release-file, bot:release-type-patch

#490 Fix extensions runner when using async resolvers
  RELEASE.md
  strawberry/extensions/runner.py
  strawberry/schema/execute.py
  tests/schema/test_excution_errors.py
Labels: bot:has-release-file, bot:release-type-patch

#491 Add support for union in mypy plugin
  .pre-commit-config.yaml
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_decorators.yml
  tests/mypy/test_fields.yml
  tests/mypy/test_union.yml
Labels: bot:has-release-file, bot:release-type-patch

#495 Allow to use UNSET everywhere
  RELEASE.md
  strawberry/arguments.py
  tests/mypy/test_unset.yml
Labels: bot:has-release-file, bot:release-type-patch

#494 Ignore introspection and default resolvers
  RELEASE.md
  strawberry/extensions/tracing/apollo.py
  strawberry/extensions/tracing/utils.py
  strawberry/resolvers.py
  tests/schema/extensions/test_apollo.py
Labels: bot:has-release-file, bot:release-type-patch

#488 Add Support for OpenTracing
  .github/workflows/test.yml
  RELEASE.md
  docs/06_operations/tracing.md
  poetry.lock
  pyproject.toml
  strawberry/extensions/tracing/__init__.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/extensions/tracing/utils.py
  tests/schema/extensions/test_opentelemetry.py
Labels: bot:has-release-file, bot:release-type-minor

#503 ✨ Add introspect method
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_schema_generation.py
Labels: bot:has-release-file, bot:release-type-patch

#507 Extend support for parsing datetimes.
  RELEASE.md
  pyproject.toml
  strawberry/schema/types/base_scalars.py
  tests/schema/types/test_datetime.py
Labels: bot:has-release-file, bot:release-type-patch

#504 🎨 Use str magic method
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#511 Enable using strawberry.enum as a function with MyPy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_enum.yml
Labels: bot:has-release-file, bot:release-type-patch

#513 Annotated arguments
  RELEASE.md
  strawberry/__init__.py
  strawberry/arguments.py
  strawberry/exceptions.py
  strawberry/schema/types/arguments.py
  tests/schema/test_arguments.py
  tests/types/test_arguments.py
Labels: bot:has-release-file, bot:release-type-minor

#516 Edit wrong example of source code in Doc
  docs/01_general/03_mutations.md
Labels: hacktoberfest-accepted

#471 Use get_context for subscriptions as well
  RELEASE.md
  docs/05_integrations/asgi.md
  strawberry/asgi/__init__.py
Labels: bot:has-release-file, bot:release-type-patch

#520 Improve strawberry.enum when using variables
  .github/release-check-action/config.py
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_enum.yml
Labels: bot:has-release-file, bot:release-type-patch

#525 Add naive check for making sure that mypy doesn't crash in certain scenarios
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#527 Use field definition to check if we are returning a list or not
  RELEASE.md
  strawberry/resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#528 Skip enum check when result is falsy
  RELEASE.md
  strawberry/resolvers.py
  tests/schema/test_enum.py
Labels: bot:has-release-file, bot:release-type-patch

#533 Bugfix: Async lists
  RELEASE.md
  strawberry/resolvers.py
  tests/schema/test_enum.py
  tests/schema/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch, hacktoberfest-accepted

#532 UUID type
  RELEASE.md
  strawberry/custom_scalar.py
  strawberry/exceptions.py
  strawberry/schema/types/base_scalars.py
  strawberry/schema/types/scalar.py
  tests/schema/test_custom_scalar.py
  tests/schema/test_scalars.py
  tests/test_printer.py
Labels: bot:has-release-file, bot:release-type-minor, hacktoberfest-accepted

#536 Set default value to null when it's set to None
  RELEASE.md
  strawberry/arguments.py
  tests/schema/test_arguments.py
  tests/types/test_arguments.py
  tests/utils/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-patch

#530 Add support for deprecation_reason on field
  RELEASE.md
  strawberry/field.py
  strawberry/schema/types/fields.py
  strawberry/types/types.py
  tests/schema/test_basic.py
Labels: bot:has-release-file, bot:release-type-minor, hacktoberfest-accepted

#538 Fix issue when using namespaced variables for enums
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/enums.py
  tests/mypy/test_enum.yml
Labels: bot:has-release-file, bot:release-type-patch

#547 Update prettier pre-commit hook repo
  .pre-commit-config.yaml
  RELEASE.md
Labels: bot:has-release-file, bot:release-type-patch

#546 Disable implicit reexport
  RELEASE.md
  mypy.ini
  strawberry/__init__.py
  strawberry/arguments.py
  strawberry/directive.py
  strawberry/field.py
  strawberry/file_uploads/__init__.py
  strawberry/schema/__init__.py
  strawberry/schema/types/__init__.py
  strawberry/schema/types/types.py
  strawberry/type.py
  strawberry/types/__init__.py
  tests/test_strawberry.py
Labels: bot:has-release-file, bot:release-type-patch
