Repository strawberry-graphql/strawberry, pull requests merged in 2020-11, with the labels that each got.

#551 Make field typing more specific
  .coveragerc
  .github/workflows/test.yml
  RELEASE.md
  mypy.ini
  pyproject.toml
  strawberry/field.py
  tests/mypy/mypy.ini
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#556 Add django 3.1 async view
  .github/workflows/test.yml
  RELEASE.md
  docs/05_integrations/django.md
  poetry.lock
  pyproject.toml
  strawberry/django/views.py
  tests/django/test_async_view.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-minor

#558 Fix bug where types argument is positional for strawberry.union
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_union.yml
Labels: bot:has-release-file, bot:release-type-patch

#554 Allow interfaces to implement interfaces #553
  RELEASE.md
  strawberry/schema/types/object_type.py
  strawberry/type.py
  tests/schema/test_interface.py
  tests/types/test_interfaces.py
Labels: bot:has-release-file, bot:release-type-patch

#555 Add implementation of dataloaders
  RELEASE.md
  docs/03_features/dataloaders.md
  docs/05_integrations/asgi.md
  mypy_tests.ini
  pyproject.toml
  strawberry/dataloader.py
  strawberry/exceptions.py
  strawberry/ext/mypy_plugin.py
  tests/django/test_dataloaders.py
  tests/mypy/test_dataloaders.yml
  tests/mypy/test_enum.yml
  tests/mypy/test_fields.yml
  tests/schema/test_dataloaders.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-minor

#568 Fix order of type evaluation
  RELEASE.md
  strawberry/types/type_resolver.py
Labels: bot:has-release-file, bot:release-type-patch

#543 StrawberryResolver object
  .coveragerc
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/arguments.py
  strawberry/field.py
  strawberry/resolvers.py
  strawberry/type.py
  strawberry/types/fields/__init__.py
  strawberry/types/fields/resolver.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  tests/mypy/test_fields.yml
  tests/types/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-minor

#572 Add support for strawberry.field in mypy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#574 Handle arguments with unset default value
  RELEASE.md
  strawberry/arguments.py
  tests/schema/test_arguments.py
Labels: bot:has-release-file, bot:release-type-patch

#573 Fix attribute without default error in mypy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#578 More improvements for mypy and strawberry.field
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#581 Safer way to get a mypy type
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#582 Set origin_name to be the field origin name
  RELEASE.md
  strawberry/types/type_resolver.py
  tests/types/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#575 Add some runtime checking for unions
  RELEASE.md
  strawberry/exceptions.py
  strawberry/union.py
  tests/types/test_generic.py
  tests/types/test_union.py
Labels: bot:has-release-file, bot:release-type-patch

#453 Add experimental support for Pydantic
  RELEASE.md
  docs/05_integrations/pydantic.md
  mypy_tests.ini
  poetry.lock
  pyproject.toml
  strawberry/__init__.py
  strawberry/experimental/__init__.py
  strawberry/experimental/pydantic/__init__.py
  strawberry/experimental/pydantic/conversion.py
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/exceptions.py
  strawberry/experimental/pydantic/fields.py
  strawberry/experimental/pydantic/type.py
  strawberry/experimental/pydantic/utils.py
  strawberry/ext/mypy_plugin.py
  strawberry/type.py
  tests/experimental/__init__.py
  tests/experimental/pydantic/__init__.py
  tests/experimental/pydantic/schema/__init__.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/schema/test_mutation.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
  tests/experimental/pydantic/test_error_type.py
  tests/experimental/pydantic/test_fields.py
  tests/mypy/test_pydantic.yml
Labels: bot:has-release-file, bot:release-type-minor, enhancement

#585 Fix pydantic import when not used
  RELEASE.md
  strawberry/experimental/__init__.py
Labels: bot:has-release-file, bot:release-type-patch

#587 Fix issue when using union as type param for generics
  RELEASE.md
  strawberry/types/generics.py
  tests/types/test_generic.py
Labels: bot:has-release-file, bot:release-type-patch

#588 create debug-server extra
  .github/workflows/test.yml
  README.md
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-minor

#590 Add support for strawberry.federation.field in mypy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#594 Validate GraphQL schema early
  RELEASE.md
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  tests/schema/test_excution_errors.py
  tests/schema/test_schema_generation.py
Labels: bot:has-release-file, bot:release-type-patch
