Repository strawberry-graphql/strawberry, pull requests merged in 2020-05, with the labels that each got.

#304 Add support for named unions
  RELEASE.md
  strawberry/__init__.py
  strawberry/enum.py
  strawberry/field.py
  strawberry/printer.py
  strawberry/schema.py
  strawberry/type.py
  strawberry/type_converter.py
  strawberry/union.py
  strawberry/utils/str_converters.py
  tests/test_enum.py
  tests/test_field.py
  tests/test_generics.py
  tests/test_type_converter.py
  tests/test_union.py
Labels: bot:has-release-file, bot:release-type-minor

#314 Fix subscriptions when they accept input arguments
  RELEASE.md
  strawberry/field.py
  tests/test_subscription.py
Labels: bot:has-release-file, bot:release-type-patch

#317 Add support for setting `root_value` in asgi.
  RELEASE.md
  strawberry/asgi/__init__.py
  strawberry/graphql.py
  tests/asgi/conftest.py
  tests/asgi/test_query.py
Labels: bot:has-release-file, bot:release-type-patch

#322 Update pre-commit hooks and pre-commit to pyproject.toml
  .github/release-check-action/release.py
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  RELEASE.md
  poetry.lock
  pyproject.toml
  scripts/base.py
  scripts/create_github_release.py
  scripts/has_release.py
  scripts/prepare_release.py
  scripts/publish_changes.py
  strawberry/__init__.py
  strawberry/asgi/__init__.py
  strawberry/asgi/http.py
  strawberry/directive.py
  strawberry/django/views.py
  strawberry/flask/views.py
  strawberry/type_converter.py
  strawberry/types/__init__.py
  strawberry/types/datetime.py
  strawberry/utils/arguments.py
  strawberry/utils/typing.py
  tests/flask/test_graphqlview.py
Labels: bot:has-release-file, bot:release-type-patch

#320 Add support for `default_value` on inputs and arguments.
  RELEASE.md
  strawberry/field.py
  strawberry/type.py
  tests/test_field.py
  tests/test_input_types.py
Labels: bot:has-release-file, bot:release-type-patch

#323 Add sentinel value to match unset client input
  RELEASE.md
  strawberry/utils/arguments.py
  tests/test_schema.py
  tests/utils/test_arguments_converter.py
Labels: blocked, bot:has-release-file, bot:release-type-patch

#324 Default values make input arguments nullable when the default is None.
  RELEASE.md
  strawberry/field.py
  tests/test_field.py
Labels: bot:has-release-file, bot:release-type-patch

#259 Add apollo federation support
  .gitignore
  RELEASE.md
  poetry.lock
  strawberry/__init__.py
  strawberry/custom_scalar.py
  strawberry/enum.py
  strawberry/ext/mypy_plugin.py
  strawberry/federation.py
  strawberry/field.py
  strawberry/printer.py
  strawberry/type.py
  strawberry/type_converter.py
  strawberry/type_registry.py
  tests/federation/__init__.py
  tests/federation/test_entities.py
  tests/federation/test_printer.py
  tests/federation/test_schema.py
Labels: bot:has-release-file, bot:release-type-minor

#326 Argument conversion doesn't populate missing args with defaults.
  RELEASE.md
  strawberry/type.py
  strawberry/utils/arguments.py
  tests/test_enum.py
  tests/test_input_types.py
  tests/test_schema.py
  tests/utils/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-patch
