Repository strawberry-graphql/strawberry, pull requests merged in 2021-09, with the labels that each got.

#1147 Bring scalar definitions into schema and allow overriding
  RELEASE.md
  TWEET.md
  docs/types/scalars.md
  strawberry/annotation.py
  strawberry/custom_scalar.py
  strawberry/scalars.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema/types/scalar.py
  tests/schema/test_custom_scalar.py
  tests/schema/test_scalars.py
Labels: bot:release-type-minor, bot:has-release-file

#1202 Prevent mypy from crashing when _get_type_for_expr returns None
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#1215 Add support for enabling subscriptions in GraphiQL on Django through a flag on the BaseView class
  RELEASE.md
  strawberry/django/views.py
Labels: bot:release-type-minor, bot:has-release-file

#1226 chore: bump opentelemetry-[api,sdk] version constraint: <1.5.0 -> <2
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#922 Add support for PyRight
  .github/workflows/test.yml
  RELEASE.md
  TWEET.md
  docs/README.md
  docs/editors/pylance.png
  docs/editors/vscode.md
  pyproject.toml
  strawberry/federation.py
  strawberry/field.py
  strawberry/object_type.py
  strawberry/utils/typing.py
  tests/pyright/__init__.py
  tests/pyright/test_federation.py
  tests/pyright/test_fields.py
  tests/pyright/test_fields_input.py
  tests/pyright/test_fields_resolver.py
  tests/pyright/utils.py
Labels: ok-to-preview, bot:release-type-minor, bot:has-release-file

#1010 Use class MRO to determine field origin
  RELEASE.md
  strawberry/types/type_resolver.py
  tests/types/test_deferred_annotations.py
Labels: bot:has-release-file, bot:release-type-patch

#1222 Throw an error when using a Union or Interface as an argument type
  RELEASE.md
  strawberry/exceptions.py
  strawberry/field.py
  tests/fields/test_arguments.py
Labels: bot:has-release-file, bot:release-type-patch

#1229 Fix bug in pydantic conversion for nested Optional values
  CONTRIBUTING.md
  RELEASE.md
  strawberry/experimental/pydantic/conversion.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1233 Add the app-dir to the python path when exporting the schema
  RELEASE.md
  strawberry/cli/commands/export_schema.py
  tests/cli/test_export_schema.py
Labels: bot:has-release-file, bot:release-type-patch

#1231 Fix Pydantic Unions
  RELEASE.md
  strawberry/experimental/pydantic/conversion.py
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1213 Add fragment selected fields
  RELEASE.md
  strawberry/types/info.py
  strawberry/types/nodes.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#1235 Fix issue with `LazyType`/`Enum`s and generics
  .flake8
  RELEASE.md
  TWEET.md
  strawberry/types/types.py
  tests/types/resolving/test_generics.py
  tests/types/test_lazy_types.py
Labels: bot:has-release-file, bot:release-type-patch

#1249 Fix keyerror in selected_fields when a variable is not defined
  RELEASE.md
  strawberry/types/nodes.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#1241 Pydantic enums and interfaces
  RELEASE.md
  docs/integrations/pydantic.md
  strawberry/experimental/pydantic/__init__.py
  strawberry/experimental/pydantic/conversion.py
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1257 Expose `python_name` from `Info` type
  RELEASE.md
  docs/types/resolvers.md
  strawberry/types/info.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#1260 ASGI integration: return 400 Bad Request if json input malformed
  RELEASE.md
  strawberry/asgi/__init__.py
  tests/asgi/test_query.py
  tests/flask/test_view.py
Labels: bot:has-release-file, bot:release-type-patch

#1196 Add ValidationCache and ParserCache extensions
  RELEASE.md
  docs/guides/tools.md
  strawberry/extensions/__init__.py
  strawberry/extensions/add_validation_rules.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/disable_validation.py
  strawberry/extensions/parser_cache.py
  strawberry/extensions/query_depth_limiter.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/extensions/validation_cache.py
  strawberry/schema/__init__.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/tools/__init__.py
  strawberry/types/execution.py
  tests/schema/extensions/test_opentelemetry.py
  tests/schema/extensions/test_parser_cache.py
  tests/schema/extensions/test_query_depth_limiter.py
  tests/schema/extensions/test_validation_cache.py
  tests/schema/test_execution.py
Labels: bot:release-type-minor, bot:has-release-file

#1276 [mypy] updated 'extensions' arg type hint in Schema and execute to match ExtensionsRunner's arg
  RELEASE.md
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  tests/mypy/test_schema.yml
Labels: bot:has-release-file, bot:release-type-patch

#1274 feat(extensions.tracing.opentelemetry): spans for parsing & validation during request handling
  RELEASE.md
  strawberry/extensions/tracing/opentelemetry.py
  tests/schema/extensions/test_opentelemetry.py
Labels: bot:has-release-file, bot:release-type-patch

#1281 Correctly nest OTel spans
  RELEASE.md
  strawberry/extensions/tracing/opentelemetry.py
  tests/schema/extensions/test_opentelemetry.py
Labels: bot:release-type-minor, bot:has-release-file
