Repository strawberry-graphql/strawberry, pull requests merged in 2021-03, with the labels that each got.

#732 Bug fix: allow .get in context request as well as [] notation
  RELEASE.md
  strawberry/django/context.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-patch, bug

#724 Sanic Webserver Support
  RELEASE.md
  docs/README.md
  docs/integrations/sanic.md
  poetry.lock
  pyproject.toml
  strawberry/sanic/__init__.py
  strawberry/sanic/context.py
  strawberry/sanic/graphiql.py
  strawberry/sanic/views.py
  strawberry/schema/__init__.py
  strawberry/schema/base.py
  strawberry/schema/schema.py
  tests/sanic/__init__.py
  tests/sanic/test_view.py
Labels: bot:has-release-file, bot:release-type-minor

#735 Update dataloaders.md
  RELEASE.md
  docs/features/dataloaders.md
Labels: bot:has-release-file, bot:release-type-patch

#728 Use custom json encoder to prevent encoding error
  RELEASE.md
  strawberry/utils/debug.py
  tests/utils/test_pretty_print.py
Labels: bot:has-release-file, bot:release-type-patch

#750 Add optional response to ASGI app context
  RELEASE.md
  docs/integrations/asgi.md
  strawberry/asgi/__init__.py
  tests/asgi/test_query.py
Labels: bot:has-release-file, bot:release-type-patch

#755 Move get_http_response to asgi class to make it easier to override it
  RELEASE.md
  strawberry/asgi/__init__.py
  strawberry/asgi/http.py
Labels: bot:has-release-file, bot:release-type-minor

#758 Fix bug with using arguments with generics
  RELEASE.md
  strawberry/types/generics.py
  tests/schema/test_generics.py
  tests/types/test_generic.py
Labels: bot:has-release-file, bot:release-type-patch

#771 Combine sync and async resolvers into single function
  RELEASE.md
  strawberry/resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#773 Add temporal response in django's get context
  RELEASE.md
  docs/integrations/django.md
  strawberry/django/context.py
  strawberry/django/views.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-minor

#775 Fix content type in django view
  RELEASE.md
  strawberry/django/views.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-patch

#781 [ Django ] Raise exception when JSON parsing fails within the parse_body method
  RELEASE.md
  strawberry/django/views.py
  tests/django/test_async_view.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-patch

#777 Django 3.2 Support
  .github/workflows/test.yml
  RELEASE.md
  strawberry/django/views.py
Labels: bot:has-release-file, bot:release-type-patch

#779 Expose Strawberry info in resolvers
  .github/workflows/test.yml
  RELEASE.md
  strawberry/resolvers.py
  strawberry/types/info.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-minor

#774 [graphiql] Attach CSRF token w/ requests to server
  RELEASE.md
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-patch

#786 [sanic] Enable async get_context
  RELEASE.md
  docs/integrations/sanic.md
  strawberry/sanic/views.py
  tests/sanic/test_view.py
Labels: bot:release-type-minor

#752 `StrawberryField` refactor
  RELEASE.md
  strawberry/arguments.py
  strawberry/experimental/pydantic/conversion.py
  strawberry/field.py
  strawberry/printer.py
  strawberry/resolvers.py
  strawberry/schema/schema_converter.py
  strawberry/type.py
  strawberry/types/generics.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_error_type.py
  tests/experimental/pydantic/test_fields.py
  tests/schema/test_private_field.py
  tests/test_forward_references.py
  tests/types/test_arguments.py
  tests/types/test_basic.py
  tests/types/test_generic.py
  tests/types/test_interfaces.py
  tests/types/test_list.py
  tests/types/test_optional.py
  tests/types/test_permissions.py
  tests/types/test_resolvers.py
  tests/types/test_string_annotations.py
  tests/types/test_union.py
Labels: bot:has-release-file, bot:release-type-minor

#799 Gracefully handle user-induced subscription errors.
  RELEASE.md
  strawberry/asgi/__init__.py
  tests/asgi/test_subscription.py
Labels: bot:has-release-file, bot:release-type-patch
