Repository strawberry-graphql/strawberry, pull requests merged in 2021-05, with the labels that each got.

#884 Add create_type helper function
  RELEASE.md
  docs/README.md
  docs/guides/tools.md
  strawberry/tools/__init__.py
  strawberry/tools/create_type.py
  tests/tools/__init__.py
  tests/tools/test_create_type.py
Labels: bot:has-release-file, bot:release-type-minor, ok-to-preview

#895 Add a basic AIOHTTP integration
  RELEASE.md
  docs/README.md
  docs/integrations/aiohttp.md
  mypy_tests.ini
  poetry.lock
  pyproject.toml
  strawberry/aiohttp/__init__.py
  strawberry/aiohttp/views.py
  tests/aiohttp/__init__.py
  tests/aiohttp/app.py
  tests/aiohttp/conftest.py
  tests/aiohttp/test_upload.py
  tests/aiohttp/test_view.py
  tests/django/test_async_view.py
Labels: bot:has-release-file, bot:release-type-minor

#873 Fix for allowing `source` as argument name
  RELEASE.md
  strawberry/field.py
  tests/schema/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#899 Export schema command
  RELEASE.md
  docs/README.md
  docs/guides/schema-export.md
  strawberry/cli/__init__.py
  strawberry/cli/commands/export_schema.py
  strawberry/utils/importer.py
  tests/cli/test_export_schema.py
  tests/fixtures/__init__.py
  tests/fixtures/sample_package/__init__.py
  tests/fixtures/sample_package/sample_module.py
  tests/utils/test_importer.py
Labels: bot:has-release-file, bot:release-type-minor

#900 Add sanic file upload support
  RELEASE.md
  strawberry/sanic/utils.py
  strawberry/sanic/views.py
  tests/sanic/app.py
  tests/sanic/conftest.py
  tests/sanic/test_upload.py
  tests/sanic/test_view.py
Labels: bot:has-release-file, bot:release-type-minor

#908 Refactor the server command
  RELEASE.md
  docs/guides/server.md
  strawberry/cli/commands/server.py
  tests/cli/helpers/sample_schema.py
  tests/cli/test_server.py
Labels: bot:has-release-file, bot:release-type-patch

#921 Support info in federation resolve_reference
  RELEASE.md
  strawberry/federation.py
  tests/federation/test_entities.py
Labels: bot:has-release-file, bot:release-type-patch, federation

#937 Fix federation field requires and provides
  RELEASE.md
  strawberry/printer.py
  tests/federation/test_printer.py
Labels: bot:has-release-file, bot:release-type-patch, federation

#944 Add aiohttp subscription support
  RELEASE.md
  docs/general/subscriptions.md
  strawberry/aiohttp/views.py
  strawberry/asgi/__init__.py
  strawberry/subscriptions/__init__.py
  strawberry/subscriptions/constants.py
  tests/aiohttp/app.py
  tests/aiohttp/conftest.py
  tests/aiohttp/schema.py
  tests/aiohttp/test_subscriptions.py
  tests/asgi/test_subscription.py
  tests/fixtures/utils.py
Labels: bot:has-release-file, bot:release-type-minor

#945 Prevent the debug server from setting up its own event loop
  RELEASE.md
  strawberry/cli/commands/server.py
Labels: bot:has-release-file, bot:release-type-patch

#935 Add extra values to the ExecutionContext class
  RELEASE.md
  docs/types/schema.md
  strawberry/aiohttp/views.py
  strawberry/asgi/__init__.py
  strawberry/django/views.py
  strawberry/exceptions.py
  strawberry/extensions/__init__.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/apollo.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/flask/views.py
  strawberry/http.py
  strawberry/sanic/views.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/types/execution.py
  tests/schema/extensions/test_extensions.py
  tests/schema/extensions/test_opentelemetry.py
  tests/schema/test_execution.py
Labels: bot:has-release-file, bot:release-type-minor

#954 Release using autopub
  .circleci/config.yml
  .github/workflows/release.yml
  RELEASE.md
  pyproject.toml
  scripts/base.py
  scripts/create_github_release.py
  scripts/has_release.py
  scripts/prepare_release.py
  scripts/publish_changes.py
Labels: bot:has-release-file, bot:release-type-patch

#959 Add root value to execution context type
  .github/release-check-action/check.py
  RELEASE.md
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/types/execution.py
  tests/schema/extensions/test_extensions.py
Labels: bot:has-release-file, bot:release-type-patch

#903 add optional extensions to GraphQLHTTPResponse
  RELEASE.md
  strawberry/http.py
  tests/django/test_extensions.py
Labels: bot:has-release-file, bot:release-type-minor

#966 Fix aiohttp subscription max recursion depth error
  RELEASE.md
  strawberry/aiohttp/views.py
Labels: bot:has-release-file, bot:release-type-patch

#969 Fix resolving of enums yielded from async generators
  RELEASE.md
  strawberry/field.py
  tests/aiohttp/schema.py
  tests/aiohttp/test_subscriptions.py
Labels: bot:has-release-file, bot:release-type-patch

#949 strawberry-graphql-django package integration
  RELEASE.md
  strawberry/django/__init__.py
Labels: bot:has-release-file, bot:release-type-patch

#916 Clean up StrawberryField and StrawberryArgument interface
  RELEASE.md
  strawberry/arguments.py
  strawberry/experimental/pydantic/type.py
  strawberry/field.py
  strawberry/schema/schema_converter.py
  strawberry/types/generics.py
  strawberry/types/type_resolver.py
  tests/experimental/pydantic/test_basic.py
  tests/types/test_arguments.py
Labels: bot:has-release-file, bot:release-type-patch

#970 Fix aiohttp subscription request separation
  RELEASE.md
  strawberry/aiohttp/views.py
  tests/aiohttp/test_subscriptions.py
Labels: bot:has-release-file, bot:release-type-patch
