Repository strawberry-graphql/strawberry, pull requests merged in 2021-01, with the labels that each got.

#333 Fix asgi view to allow multiple subscriptions
  RELEASE.md
  strawberry/asgi/__init__.py
  strawberry/types/fields/resolver.py
  tests/asgi/test_subscription.py
Labels: bot:has-release-file, bot:release-type-patch

#659 Multipart request for asgi
  RELEASE.md
  docs/03_features/file-upload.md
  poetry.lock
  pyproject.toml
  strawberry/asgi/http.py
  strawberry/file_uploads/data.py
  tests/asgi/test_upload.py
Labels: bot:has-release-file, bot:release-type-patch

#607 docs(subscriptions): add documentation about how subscriptions work
  docs/general/subscriptions.md
  docs/images/subscriptions-count-websocket.png
Labels: ok-to-preview

#603 Add some docs on why we created strawberry and why use it
  docs/general/why.md
Labels: ok-to-preview

#641 Update pyproject.toml
  RELEASE.md
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#675 Improve typings for strawberry.enum
  RELEASE.md
  strawberry/enum.py
  tests/mypy/test_enum.yml
Labels: bot:has-release-file, bot:release-type-patch

#677 Fix duplicated input types error
  RELEASE.md
  strawberry/schema/schema_converter.py
Labels: bot:has-release-file, bot:release-type-patch

#679 Add support for mypy 0.800
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#684 Add docs on object types
  docs/types/object-types.md
Labels: ok-to-preview

#683 Add docs for input types
  docs/types/input-types.md
Labels: ok-to-preview

#687 Allow to disable query validation
  .alexrc
  RELEASE.md
  docs/README.md
  docs/types/schema.md
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  tests/schema/test_execution.py
  tests/schema/test_execution_errors.py
Labels: bot:has-release-file, bot:release-type-minor, ok-to-preview

#692 Use type definition name to generate generic names
  RELEASE.md
  strawberry/types/generics.py
  tests/types/test_generic.py
Labels: bot:has-release-file, bot:release-type-patch
