Repository strawberry-graphql/strawberry, pull requests merged in 2021-08, with the labels that each got.

#1096 Swap JS CDN for graphqli interface to use unpkg.com
  RELEASE.md
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-patch

#1107 Make the server command inform about missing dependencies
  RELEASE.md
  pyproject.toml
  strawberry/cli/commands/server.py
  tests/cli/test_server.py
Labels: bot:has-release-file, bot:release-type-patch

#1071 Change how we map Pydantic fields to types
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/experimental/pydantic/fields.py
Labels: bot:has-release-file, bot:release-type-patch

#1021 Add depth limit validator
  RELEASE.md
  TWEET.md
  docs/guides/tools.md
  docs/types/schema.md
  strawberry/schema/__init__.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/tools/__init__.py
  strawberry/tools/depth_limit_validator.py
  tests/schema/test_execution.py
  tests/tools/test_depth_limit_validator.py
Labels: bot:release-type-minor, bot:has-release-file

#874 Pythonic wrapper for graphql core `FieldNode`.
  RELEASE.md
  docs/types/resolvers.md
  strawberry/schema/schema_converter.py
  strawberry/types/info.py
  strawberry/types/nodes.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#1036 Add extra `asgi` option with `starlette` as a dependency.
  RELEASE.md
  docs/integrations/asgi.md
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#1116 Use object_type methods to correctly construct strawberry fields
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#1125 Add support for async permission classes
  RELEASE.md
  docs/guides/permissions.md
  strawberry/field.py
  strawberry/permission.py
  strawberry/schema/schema_converter.py
  strawberry/utils/await_maybe.py
  tests/schema/test_permission.py
Labels: bot:release-type-minor, bot:has-release-file

#1152 Improve formatting for GraphQLErrors
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_execution.py
Labels: bot:has-release-file, bot:release-type-patch

#1162 Change graphql-core version range
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#1114 Make use of the uvicorn reload feature
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/cli/commands/server.py
  strawberry/cli/constants.py
  strawberry/cli/debug_server.py
  tests/cli/conftest.py
  tests/cli/test_server.py
Labels: bot:has-release-file, bot:release-type-patch

#1142 Add support for async extension hooks
  RELEASE.md
  TWEET.md
  docs/guides/extensions.md
  strawberry/extensions/__init__.py
  strawberry/extensions/context.py
  strawberry/extensions/runner.py
  strawberry/schema/execute.py
  strawberry/utils/await_maybe.py
  tests/schema/extensions/test_extensions.py
Labels: bot:release-type-minor, bot:has-release-file

#1165 Change Info type to lazy access all properties to improve performance
  RELEASE.md
  strawberry/schema/schema_converter.py
  strawberry/types/info.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#1150 Fix issue when returning non strawberry types when return type extends interface
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_interface.py
Labels: bot:has-release-file, bot:release-type-patch

#1167 Cache selected fields property on the field `info`.
  RELEASE.md
  mypy.ini
  mypy_tests.ini
  strawberry/types/info.py
Labels: bot:has-release-file, bot:release-type-patch

#1168 Support setting ASGI background tasks via context
  RELEASE.md
  docs/integrations/asgi.md
  strawberry/asgi/__init__.py
  tests/asgi/test_query.py
Labels: bot:has-release-file, bot:release-type-patch

#1169 Update opentelemetry dependency
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/extensions/tracing/opentelemetry.py
Labels: bot:has-release-file, bot:release-type-patch

#440 Add Apollo Federation guide
  docs/guides/federation.md
  docs/integrations/asgi.md
Labels: ok-to-preview
