Repository strawberry-graphql/strawberry, pull requests merged in 2021-11, with the labels that each got.

#1395 Fix type name generation for List[T]
  RELEASE.md
  strawberry/type.py
  strawberry/types/types.py
  tests/federation/test_schema.py
  tests/objects/test_generic_objects.py
  tests/schema/test_generics.py
  tests/types/resolving/test_unions.py
Labels: hacktoberfest-accepted

#1400 Add on_executing_* hook to extensions
  RELEASE.md
  docs/guides/custom-extensions.md
  strawberry/extensions/base_extension.py
  strawberry/extensions/context.py
  strawberry/extensions/runner.py
  strawberry/schema/execute.py
  tests/schema/extensions/test_extensions.py
Labels: bot:release-type-minor, bot:has-release-file

#1414 Fix federation support under mypy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_decorators.yml
Labels: bot:has-release-file, bot:release-type-patch

#1394 Fix generic types with lists
  .github/workflows/test.yml
  RELEASE.md
  strawberry/arguments.py
  strawberry/directive.py
  strawberry/field.py
  strawberry/printer.py
  strawberry/schema/compat.py
  strawberry/schema/config.py
  strawberry/schema/name_converter.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema_directive.py
  strawberry/types/types.py
  strawberry/union.py
  strawberry/utils/mixins.py
  tests/objects/generics/test_generic_objects.py
  tests/objects/generics/test_names.py
  tests/schema/test_generics.py
  tests/types/resolving/test_unions.py
  tests/utils/test_arguments_converter.py
Labels: bot:release-type-minor, bot:has-release-file

#1317 Rename enum exception
  RELEASE.md
  strawberry/enum.py
  strawberry/exceptions.py
  tests/enums/test_enum.py
Labels: bot:has-release-file

#1436 Fix name generation of generics when passing generics with args
  RELEASE.md
  strawberry/schema/name_converter.py
  tests/objects/generics/test_names.py
Labels: bot:has-release-file, bot:release-type-patch

#923 add an aws chalice integration
  .github/workflows/mypy.yml
  .github/workflows/test.yml
  RELEASE.md
  docs/README.md
  docs/integrations/chalice.md
  poetry.lock
  pyproject.toml
  strawberry/chalice/__init__.py
  strawberry/chalice/graphiql.py
  strawberry/chalice/views.py
  tests/chalice/__init__.py
  tests/chalice/app.py
  tests/chalice/test_views.py
  tests/types/test_object_types.py
Labels: bot:release-type-minor, bot:has-release-file

#1437 Change how Private is implemented to better support type checkers
  RELEASE.md
  strawberry/experimental/pydantic/utils.py
  strawberry/ext/mypy_plugin.py
  strawberry/private.py
  strawberry/types/type_resolver.py
  tests/pyright/test_private.py
Labels: bot:release-type-minor, bot:has-release-file

#1445 Fix check of Literal in replace_pydantic_types
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#1451 Fix init of Strawberry types from pydantic
  RELEASE.md
  strawberry/experimental/pydantic/conversion.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1438 Improve type checker support for return value for strawberry.union
  RELEASE.md
  strawberry/union.py
  tests/pyright/test_union.py
Labels: bot:release-type-minor, bot:has-release-file

#1430 Allow using a static method as a resolver
  RELEASE.md
  strawberry/field.py
  strawberry/object_type.py
  strawberry/types/fields/resolver.py
  tests/fields/test_resolvers.py
  tests/schema/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#1322 Fix InvalidFieldArgument message
  RELEASE.md
  strawberry/exceptions.py
  strawberry/field.py
  tests/fields/test_arguments.py
Labels: hacktoberfest-accepted, bot:has-release-file
