Repository strawberry-graphql/strawberry, pull requests merged in 2021-12, with the labels that each got.

#1463 Fix issue with enums as params of generic inside unions
  RELEASE.md
  strawberry/types/types.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#1225 Add GraphQLTestClient class for asgi and Django
  RELEASE.md
  strawberry/asgi/test/__init__.py
  strawberry/asgi/test/client.py
  strawberry/django/test/__init__.py
  strawberry/django/test/client.py
  strawberry/test/__init__.py
  strawberry/test/client.py
  tests/asgi/conftest.py
  tests/asgi/test_query.py
  tests/asgi/test_upload.py
  tests/django/app/schema.py
  tests/django/app/urls.py
  tests/django/conftest.py
  tests/django/django_settings.py
  tests/django/test_extensions.py
  tests/django/test_graphql_test_client.py
  tests/django/test_upload.py
Labels: bot:release-type-minor, bot:has-release-file

#1406 Implement explicit interface type resolution
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  strawberry/object_type.py
  strawberry/schema/schema_converter.py
  strawberry/types/types.py
  strawberry/union.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/schema/test_interface.py
  tests/schema/test_union.py
Labels: bot:release-type-minor, bot:has-release-file

#1299 Add Exceptions docs page (#1298)
  docs/types/exceptions.md
Labels: hacktoberfest-accepted

#1449 Fix cross-module type resolving for fields and resolvers
  RELEASE.md
  strawberry/field.py
  tests/types/cross_module_resolvers/README.md
  tests/types/cross_module_resolvers/a_mod.py
  tests/types/cross_module_resolvers/b_mod.py
  tests/types/cross_module_resolvers/c_mod.py
  tests/types/cross_module_resolvers/test_cross_module_resolvers.py
  tests/types/cross_module_resolvers/x_mod.py
Labels: bot:has-release-file, bot:release-type-patch

#1472 Make Django `JsonResponse` params configurable in views
  RELEASE.md
  docs/integrations/django.md
  strawberry/django/views.py
  tests/django/test_views.py
Labels: bot:has-release-file, bot:release-type-patch

#1307 Fix typos discovered by codespell
  CHANGELOG.md
  docs/general/subscriptions.md
  docs/guides/authentication.md
  docs/types/interfaces.md
  strawberry/ext/mypy_plugin.py
Labels: hacktoberfest-accepted

#1286 Extract operation name and type from execution context
  RELEASE.md
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/schema/schema.py
  strawberry/types/execution.py
  tests/schema/extensions/test_opentelemetry.py
  tests/types/test_execution.py
Labels: hacktoberfest-accepted, bot:release-type-minor, bot:has-release-file

#1484 Official django 4.0 compat
  .github/workflows/test.yml
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#1489 Bugfix: django dependency specification
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#1481 Add `python -m` support
  RELEASE.md
  strawberry/__main__.py
Labels: bot:has-release-file, bot:release-type-patch

#1501 Fix issue when lazily importing enums
  RELEASE.md
  strawberry/schema/compat.py
  strawberry/schema/schema_converter.py
  tests/schema/test_lazy_types/__init__.py
  tests/schema/test_lazy_types/test_cyclic.py
  tests/schema/test_lazy_types/test_lazy_enums.py
  tests/schema/test_lazy_types/type_a.py
  tests/schema/test_lazy_types/type_b.py
  tests/types/test_lazy_types.py
Labels: bot:has-release-file, bot:release-type-patch

#1498 Lazily get the loop in dataloaders
  RELEASE.md
  strawberry/dataloader.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-patch

#1494 Inject custom FastAPI dependencies into context object without overriding default context
  RELEASE.md
  strawberry/fastapi/router.py
  tests/fastapi/test_context.py
Labels: bot:has-release-file, bot:release-type-patch

#1503 Bump mypy and fix compatibility issue with 0.920
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#1467 Make the annotation parser aware about _Unset
  RELEASE.md
  strawberry/annotation.py
  strawberry/arguments.py
  strawberry/unset.py
  tests/types/resolving/test_optionals.py
Labels: bot:has-release-file, bot:release-type-patch

#1513 fix the mypy plugin assertion error when enums, unions, etc are not used as decorator
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#1507 Parse Decimal/UUID scalar similar to other builtin scalars
  RELEASE.md
  strawberry/schema/types/base_scalars.py
  tests/schema/types/test_decimal.py
  tests/schema/types/test_uuid.py
Labels: bot:has-release-file, bot:release-type-patch
