Repository strawberry-graphql/strawberry, pull requests merged in 2021-04, with the labels that each got.

#801 Fix __eq__ and __repr__ when using resolver fields
  RELEASE.md
  strawberry/field.py
  tests/types/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#804 Fix issue where `StrawberryField.graphql_name` would always be `camelCased`
  RELEASE.md
  strawberry/field.py
  tests/types/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#807 Fixed django multipart/form-data upload
  RELEASE.md
  strawberry/django/views.py
Labels: bot:has-release-file, bot:release-type-patch

#803 Replace `ArgumentDefinition` with a refactored `StrawberryArgument`
  RELEASE.md
  strawberry/arguments.py
  strawberry/directive.py
  strawberry/field.py
  strawberry/schema/schema_converter.py
  strawberry/types/fields/resolver.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  tests/types/test_arguments.py
  tests/types/test_generic.py
  tests/types/test_optional.py
  tests/utils/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-minor

#814 Add support for a default and default_factory with strawberry.field
  RELEASE.md
  strawberry/exceptions.py
  strawberry/field.py
  strawberry/types/type_resolver.py
  tests/schema/test_basic.py
  tests/types/test_basic.py
Labels: bot:has-release-file, bot:release-type-minor

#808 Add cli option to specify src directory
  RELEASE.md
  strawberry/cli/commands/server.py
  tests/cli/conftest.py
  tests/cli/test_server.py
Labels: bot:has-release-file, bot:release-type-minor

#824 Improve how we generate types from Pydantic
  RELEASE.md
  strawberry/experimental/pydantic/type.py
  strawberry/type.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#826 Add support for default values and factories in pydantic
  RELEASE.md
  strawberry/experimental/pydantic/type.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#846 Fix return type value from info field
  RELEASE.md
  strawberry/field.py
  tests/schema/test_info.py
Labels: bot:has-release-file, bot:release-type-patch

#851 Add process_errors method to Schema and log errors by default
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_execution.py
Labels: bot:has-release-file, bot:release-type-minor

#857 Add a guide on dealing with errors
  .alexrc
  docs/README.md
  docs/features/errors.md
  docs/guides/authentication.md
  docs/guides/dataloaders.md
  docs/guides/errors.md
  docs/guides/extensions.md
  docs/guides/federation.md
  docs/guides/file-upload.md
  docs/guides/pagination.md
  docs/guides/permissions.md
  docs/guides/server.md
  docs/types/schema.md
Labels: ok-to-preview

#858 Fix `from_pydantic' with falsy values
  RELEASE.md
  strawberry/experimental/pydantic/conversion.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch, bug

#861 Fix how we check if a type is generic
  RELEASE.md
  strawberry/utils/typing.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#882 Fix generic input types so that they can be used as type of arguments
  RELEASE.md
  strawberry/types/generics.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#887 Fix nested lists
  RELEASE.md
  strawberry/field.py
  tests/schema/test_list.py
Labels: bot:has-release-file, bot:release-type-patch
