Repository strawberry-graphql/strawberry, pull requests merged in 2022-07, with the labels that each got.

#1939 Prevent creating TypeDefinition for Private fields
  RELEASE.md
  strawberry/annotation.py
  tests/schema/test_private_field.py
Labels: bot:has-release-file, bot:release-type-patch

#1713 Fix first directive argument from being cut off
  RELEASE.md
  docs/types/resolvers.md
  pyproject.toml
  strawberry/directive.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/directives.py
  strawberry/schema/schema_converter.py
  strawberry/types/fields/resolver.py
  tests/schema/test_directives.py
  tests/schema/test_resolvers.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#1766 Add link from GraphQL types to Strawberry types
  RELEASE.md
  strawberry/directive.py
  strawberry/federation/schema.py
  strawberry/printer.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema/types/scalar.py
  tests/schema/test_extensions.py
Labels: bot:has-release-file, bot:release-type-minor

#1987 fix a breaking internal error in mypy if using field() with positional arguments
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_fields.yml
  tests/mypy/test_mutation.yml
Labels: bot:has-release-file, bot:release-type-patch

#1990 Reimplement `annotations` property on `StrawberryResolver`
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/fields/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#1988 Add FieldSet to federated schema types
  RELEASE.md
  strawberry/federation/object_type.py
  strawberry/federation/schema.py
  strawberry/federation/schema_directives.py
  strawberry/federation/types.py
  tests/federation/test_printer.py
  tests/federation/test_schema.py
Labels: bot:has-release-file, bot:release-type-patch

#1985 Restore ability to use unhashable default values on resolvers
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/fields/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#1977 Make tracing imports lazy
  RELEASE.md
  strawberry/extensions/tracing/__init__.py
  tests/schema/extensions/test_imports.py
Labels: bot:has-release-file, bot:release-type-minor

#1986 pydantic: use strawberry alias if any
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#2012 Allow **kwargs for to_pydantic to add missing fields
  RELEASE.md
  mypy.ini
  strawberry/experimental/pydantic/conversion_types.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/ext/mypy_plugin.py
  tests/experimental/pydantic/test_conversion.py
  tests/mypy/test_pydantic.decorators.yml
Labels: bot:has-release-file, bot:release-type-minor

#2016 Fix mypy compat with those without pydantic
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#1994 Add temporary fix for strawberry.auto and future annotations
  RELEASE.md
  strawberry/auto.py
  tests/experimental/pydantic/schema/test_forward_reference.py
Labels: bot:has-release-file, bot:release-type-patch

#2020 Don't use directives extension when no custom extensions passed in
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_get_extensions.py
Labels: bot:has-release-file, bot:release-type-minor

#2019 Add proper exception for union with input types
  RELEASE.md
  strawberry/exceptions.py
  strawberry/schema/schema_converter.py
  tests/schema/test_union.py
Labels: bot:has-release-file, bot:release-type-patch

#2029 fix: edge case for nested generics in a union type
  RELEASE.md
  strawberry/union.py
  tests/schema/test_union.py
Labels: bot:has-release-file, bot:release-type-patch

#2001 Add tracing extension for datadog
  RELEASE.md
  docs/extensions/datadog.md
  docs/operations/tracing.md
  poetry.lock
  pyproject.toml
  strawberry/extensions/tracing/__init__.py
  strawberry/extensions/tracing/datadog.py
  tests/schema/extensions/test_datadog.py
  tests/schema/extensions/test_imports.py
Labels: bot:has-release-file, bot:release-type-minor

#2037 Add support for custom default resolvers
  RELEASE.md
  strawberry/field.py
  strawberry/schema/config.py
  strawberry/schema/schema_converter.py
  tests/schema/test_default_resolver.py
Labels: bot:has-release-file, bot:release-type-minor

#2038 Fix backwards compatibility
  RELEASE.md
  strawberry/field.py
  strawberry/schema/schema_converter.py
  tests/schema/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#2048 Add support for printing dictionaries when using custom scalars
  .flake8
  RELEASE.md
  strawberry/printer/__init__.py
  strawberry/printer/ast_from_value.py
  strawberry/printer/printer.py
  strawberry/schema/schema.py
  tests/federation/printer/__init__.py
  tests/test_printer/test_basic.py
Labels: bot:has-release-file, bot:release-type-minor

#2055 Fix aiohttp query operation selection
  RELEASE.md
  strawberry/aiohttp/handlers/http_handler.py
  tests/aiohttp/test_http.py
Labels: bot:has-release-file, bot:release-type-patch
