Repository strawberry-graphql/strawberry, pull requests merged in 2022-11, with the labels that each got.

#2309 Fix dataclass creation in Pydantic integration for Python 3.10.0
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
Labels: bot:has-release-file, bot:release-type-patch

#2312 Prefer class annotation over resolver annotation when determining field type
  RELEASE.md
  strawberry/field.py
  tests/schema/test_fields.py
  tests/types/cross_module_resolvers/test_cross_module_resolvers.py
Labels: bot:has-release-file, bot:release-type-minor

#2310 Allow to disable operation logging in debug server
  RELEASE.md
  docs/guides/server.md
  strawberry/cli/commands/server.py
  strawberry/cli/constants.py
  strawberry/cli/debug_server.py
Labels: bot:has-release-file, bot:release-type-minor

#2323 Add logging back to parsing and validation errors
  RELEASE.md
  strawberry/schema/execute.py
  tests/schema/test_execution.py
Labels: bot:has-release-file, bot:release-type-patch

#2306 Fix issue with enum values
  RELEASE.md
  strawberry/enum.py
  tests/enums/test_enum.py
  tests/schema/test_enum.py
Labels: bot:has-release-file, bot:release-type-patch

#2327 Add note about importing Annotated from typing extensions
  docs/types/lazy.md
Labels: ok-to-preview

#2319 Ensure that `StrawberryField.type_annotation` is always `StrawberryAnnotation`
  RELEASE.md
  strawberry/annotation.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  strawberry/field.py
  strawberry/types/type_resolver.py
Labels: bot:has-release-file, bot:release-type-patch

#2332 Auto generate a `resolve_reference` method for federation types
  RELEASE.md
  docs/guides/federation.md
  strawberry/arguments.py
  strawberry/federation/schema.py
  tests/federation/test_entities.py
Labels: bot:has-release-file, bot:release-type-minor

#2295 Support new Self type as an annotation.
  RELEASE.md
  strawberry/annotation.py
  strawberry/type.py
  strawberry/types/types.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-minor

#2336 Fix error when trying to use a custom scalar in a union
  RELEASE.md
  strawberry/union.py
  tests/types/resolving/test_unions.py
Labels: bot:has-release-file, bot:release-type-patch

#2339 fix: Prevent InvalidStateError when resolving canceled futures
  RELEASE.md
  strawberry/dataloader.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-patch

#2363 Remove hashes when converting http URL to ws URL
  RELEASE.md
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-patch

#2296 Add basic documentation of generics
  docs/types/generics.md
Labels: ok-to-preview
