Repository strawberry-graphql/strawberry, pull requests merged in 2022-10, with the labels that each got.

#2220 Allow to not pass a query when using federation
  RELEASE.md
  strawberry/federation/schema.py
  tests/federation/printer/test_entities.py
  tests/federation/printer/test_inaccessible.py
  tests/federation/printer/test_interface.py
  tests/federation/printer/test_keys.py
  tests/federation/printer/test_link.py
  tests/federation/printer/test_override.py
  tests/federation/printer/test_provides.py
  tests/federation/printer/test_requires.py
  tests/federation/printer/test_shareable.py
  tests/federation/test_schema.py
Labels: bot:has-release-file, bot:release-type-patch

#2222 Fix typing for `strawberry.federation.field`
  RELEASE.md
  strawberry/federation/field.py
  tests/mypy/federation/test_fields.yml
  tests/pyright/test_federation_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#2223 imported `unset` from `strawberry.unset` rather than `strawberry.arguments`
  RELEASE.md
  strawberry/types/type_resolver.py
Labels: bot:has-release-file, bot:release-type-patch

#2245 Fix support for arguments where `arg.type=LazyType["EnumType"]`
  RELEASE.md
  strawberry/arguments.py
  tests/schema/test_enum.py
Labels: bot:has-release-file, bot:release-type-patch

#2251 Fix `scalar_overrides` type annotation
  RELEASE.md
  strawberry/federation/schema.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  tests/mypy/test_scalar.yml
  tests/pyright/test_scalars.py
Labels: bot:has-release-file, bot:release-type-patch

#2238 Allow custom url in GraphQLTestClient
  RELEASE.md
  strawberry/aiohttp/test/client.py
  strawberry/asgi/test/client.py
  strawberry/django/test/client.py
  strawberry/test/client.py
  tests/aiohttp/conftest.py
Labels: bot:has-release-file, bot:release-type-minor

#2254 Fix lazy types inside generics
  RELEASE.md
  strawberry/annotation.py
  tests/schema/test_lazy/test_lazy_generic.py
Labels: bot:has-release-file, bot:release-type-patch

#2255 add pyupgrade (#2253)
  .pre-commit-config.yaml
  RELEASE.md
  strawberry/asgi/__init__.py
  strawberry/django/views.py
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/ext/mypy_plugin.py
  strawberry/printer/printer.py
  strawberry/tools/create_type.py
  strawberry/types/types.py
  tests/pyright/utils.py
  tests/schema/extensions/test_extensions.py
Labels: bot:has-release-file, bot:release-type-patch

#2244 Fix strawberry.lazy() when using relative modules
  RELEASE.md
  strawberry/lazy_type.py
  tests/schema/test_lazy/type_a.py
  tests/schema/test_lazy/type_b.py
Labels: bot:has-release-file, bot:release-type-patch

#2233 Print schema directive on INPUT_FIELD_DEFINITION
  RELEASE.md
  strawberry/printer/printer.py
  tests/federation/printer/test_inaccessible.py
  tests/federation/printer/test_tag.py
  tests/test_printer/test_schema_directives.py
Labels: bot:has-release-file, bot:release-type-patch

#2267 Improve error message for enums
  RELEASE.md
  strawberry/annotation.py
  strawberry/exceptions.py
  strawberry/schema/schema.py
Labels: bot:has-release-file, bot:release-type-patch

#2248 Add MaskErrors extension
  RELEASE.md
  docs/extensions/mask-errors.md
  strawberry/extensions/__init__.py
  strawberry/extensions/mask_errors.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  tests/schema/extensions/test_mask_errors.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#2266 Refactor chalice view
  RELEASE.md
  docs/integrations/chalice.md
  strawberry/chalice/views.py
  strawberry/http/__init__.py
  strawberry/http/temporal_response.py
  tests/chalice/app.py
  tests/chalice/test_views.py
Labels: bot:has-release-file, bot:release-type-minor

#2271 Fix support for Union-of-LazyType
  RELEASE.md
  strawberry/schema/name_converter.py
  strawberry/union.py
  tests/schema/test_union.py
Labels: bot:has-release-file, bot:release-type-minor

#2279 allowed 'CustomScalar | None' syntax for python >= 3.10
  RELEASE.md
  strawberry/custom_scalar.py
  tests/schema/test_scalars.py
  tests/types/resolving/test_union_pipe.py
Labels: bot:has-release-file, bot:release-type-patch

#2278 Make Websocket context_getter dependency async
  RELEASE.md
  strawberry/fastapi/router.py
Labels: bot:has-release-file, bot:release-type-patch
