Repository strawberry-graphql/strawberry, pull requests merged in 2022-09, with the labels that each got.

#1187 Add custom dataclass init function
  RELEASE.md
  strawberry/ext/__init__.py
  strawberry/ext/dataclasses/LICENSE
  strawberry/ext/dataclasses/__init__.py
  strawberry/ext/dataclasses/dataclasses.py
  strawberry/federation/argument.py
  strawberry/federation/enum.py
  strawberry/federation/field.py
  strawberry/federation/object_type.py
  strawberry/federation/scalar.py
  strawberry/federation/union.py
  strawberry/object_type.py
  strawberry/utils/dataclasses.py
  tests/federation/printer/test_keys.py
  tests/federation/test_entities.py
  tests/fields/test_resolvers.py
  tests/schema/test_basic.py
  tests/schema/test_generics.py
  tests/schema/test_resolvers.py
  tests/schema/test_union.py
  tests/test_printer/test_basic.py
  tests/test_repr.py
  tests/types/test_object_types.py
  tests/utils/test_arguments_converter.py
Labels: bot:has-release-file, bot:release-type-minor

#2156 Update input-types.md with optional argument example
  docs/types/input-types.md
Labels: ok-to-preview

#2164 Convert Tuple and Sequence types to GraphQL List types
  RELEASE.md
  strawberry/annotation.py
  tests/types/resolving/test_lists.py
Labels: bot:has-release-file, bot:release-type-minor

#2157 Add compatibility for dev builds of Mypy
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#2152 Fix pydantic conversion of generic aliases
  RELEASE.md
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/fields.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#2137 Allow subclassing of reserved types in resolvers
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/types/test_argument_types.py
Labels: bot:has-release-file, bot:release-type-patch

#2172 fix/pyright strict mode
  RELEASE.md
  strawberry/enum.py
  strawberry/federation/field.py
  strawberry/federation/object_type.py
  strawberry/field.py
  strawberry/object_type.py
  tests/pyright/test_interface.py
  tests/pyright/utils.py
Labels: bot:has-release-file, bot:release-type-patch

#2149 Dataloader's cache: support invalidation and importing
  RELEASE.md
  docs/guides/dataloaders.md
  strawberry/dataloader.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-minor

#2192 Fix default value
  RELEASE.md
  strawberry/asgi/handlers/http_handler.py
  strawberry/fastapi/router.py
Labels: bot:has-release-file, bot:release-type-patch

#2017 Fix mypy false positives regarding to_pydantic
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_pydantic.decorators.yml
Labels: bot:has-release-file, bot:release-type-patch

#2190 Support storing metadata in strawberry fields.
  RELEASE.md
  strawberry/field.py
  tests/schema/test_fields.py
Labels: bot:has-release-file, bot:release-type-minor

#2194 Improve resolving performance by avoiding extra calls for basic fields
  RELEASE.md
  strawberry/field.py
  strawberry/schema/schema_converter.py
  tests/benchmarks/test_execute.py
Labels: bot:has-release-file, bot:release-type-patch

#2205 Make pygments and python-multipart optional dependencies, expand extras
  RELEASE.md
  docs/guides/file-upload.md
  poetry.lock
  pyproject.toml
  strawberry/utils/debug.py
Labels: bot:has-release-file, bot:release-type-minor

#2128 Use dataclasses.MISSING for default value for default and default_factory
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  strawberry/field.py
  strawberry/schema/schema_converter.py
  strawberry/types/type_resolver.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/schema/test_mutation.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
  tests/fields/test_arguments.py
  tests/schema/test_input.py
Labels: bot:has-release-file, bot:release-type-patch

#2210 Update federation-v1.md
  docs/guides/federation-v1.md
Labels: ok-to-preview

#2207 Add docs for mypy
  docs/README.md
  docs/editors/mypy.md
Labels: ok-to-preview

#2218 Fix defaults for strawberry.federation.field
  RELEASE.md
  strawberry/federation/field.py
  tests/federation/test_schema.py
  tests/federation/test_types.py
Labels: bot:has-release-file, bot:release-type-patch
