Repository strawberry-graphql/strawberry, pull requests merged in 2022-01, with the labels that each got.

#1491 fix(pydantic): Allow conversion of pydantic models with mutable defaults
  RELEASE.md
  strawberry/experimental/pydantic/exceptions.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1538 fix(pydantic): Fix pydantic default factory conversion
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1540 Add support for | operator between StrawberryUnion and None
  RELEASE.md
  strawberry/union.py
  tests/schema/test_union.py
  tests/types/resolving/test_union_pipe.py
Labels: bot:has-release-file, bot:release-type-patch

#1520 Replace `abort()` with `raise SanicException`
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/sanic/views.py
  tests/sanic/test_upload.py
  tests/sanic/test_view.py
  tests/utils/test_pretty_print.py
Labels: bot:has-release-file, bot:release-type-patch

#1537 Allow setting http headers and custom http status codes with FastAPI GraphQLRouter
  RELEASE.md
  strawberry/fastapi/router.py
  tests/fastapi/test_response_headers.py
  tests/fastapi/test_response_status.py
Labels: bot:has-release-file, bot:release-type-patch

#1547 fix(pydantic): Fix TypeError when converting BaseModel with NewType field
  RELEASE.md
  strawberry/experimental/pydantic/fields.py
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1551 fix(pydantic): Check for unused strawberry.auto fields when converting BaseModel
  RELEASE.md
  strawberry/experimental/pydantic/exceptions.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch

#1527 Add deprecation support to arguments and input fields (mutations)
  RELEASE.md
  strawberry/arguments.py
  strawberry/schema/schema_converter.py
  tests/schema/test_arguments.py
  tests/schema/test_mutation.py
Labels: bot:has-release-file, bot:release-type-patch

#1528 Add `load_many` to `DataLoader`
  RELEASE.md
  docs/guides/dataloaders.md
  strawberry/dataloader.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-patch

#1568 Improve strawberry.enum typing by using generics
  RELEASE.md
  strawberry/enum.py
  tests/mypy/test_enum.yml
  tests/pyright/test_enum.py
Labels: bot:has-release-file, bot:release-type-patch

#1506 Overview of type hints as used by strawberry
  docs/concepts/typings.md
Labels: ok-to-preview

#1582 Replace `cached_property` with `backports.cached_property`
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/field.py
  strawberry/types/fields/resolver.py
  strawberry/types/info.py
Labels: bot:has-release-file, bot:release-type-minor

#1544 feat(pydantic): Add mypy extension, typing stubs for conversion of pydantic models
  .codecov.yml
  RELEASE.md
  strawberry/experimental/pydantic/conversion_types.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_pydantic.decorators.yml
Labels: bot:has-release-file, bot:release-type-minor

#1592 Fix #1504 where the pydantic integration fails when defining input and output types
  RELEASE.md
  strawberry/experimental/pydantic/conversion.py
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_basic.py
  tests/experimental/pydantic/test_conversion.py
Labels: bot:has-release-file, bot:release-type-patch
