Repository strawberry-graphql/strawberry, pull requests merged in 2022-08, with the labels that each got.

#2054 Add support for schema directives on schema
  RELEASE.md
  strawberry/directive.py
  strawberry/printer/printer.py
  strawberry/schema/base.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema_directive.py
  tests/test_printer/test_basic.py
  tests/test_printer/test_schema_directives.py
Labels: bot:has-release-file, bot:release-type-minor

#2058 Add support for printing custom scalars in schema directives
  RELEASE.md
  strawberry/federation/schema.py
  strawberry/printer/printer.py
  tests/federation/test_printer.py
  tests/federation/test_schema.py
  tests/schema/test_directives.py
  tests/test_printer/test_schema_directives.py
Labels: bot:has-release-file, bot:release-type-patch

#2062 fix: Prevent checks for auto from raising NameError when comparing a StrawberryType subclass to a string
  RELEASE.md
  strawberry/auto.py
  tests/test_auto.py
Labels: bot:has-release-file, bot:release-type-patch

#2079 add example of resolvers to basic schema example
  docs/general/schema-basics.md
Labels: ok-to-preview

#1407 Add basic Channels integration
  RELEASE.md
  TWEET.md
  docs/README.md
  docs/general/subscriptions.md
  docs/integrations/channels.md
  docs/integrations/django.md
  poetry.lock
  pyproject.toml
  strawberry/channels/__init__.py
  strawberry/channels/context.py
  strawberry/channels/handlers/base.py
  strawberry/channels/handlers/graphql_transport_ws_handler.py
  strawberry/channels/handlers/graphql_ws_handler.py
  strawberry/channels/handlers/http_handler.py
  strawberry/channels/handlers/ws_handler.py
  strawberry/channels/router.py
  strawberry/django/views.py
  tests/channels/__init__.py
  tests/channels/conftest.py
  tests/channels/schema.py
  tests/channels/test_graphql_transport_ws.py
  tests/channels/test_graphql_ws.py
  tests/channels/test_http_handler.py
  tests/channels/test_layers.py
  tests/channels/test_router.py
  tests/channels/test_ws_handler.py
  tests/django/django_settings.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#2099 Fix compatibility with federation 1
  RELEASE.md
  strawberry/federation/schema.py
  tests/federation/printer/test_keys.py
Labels: bot:has-release-file, bot:release-type-patch

#2106 Add support for adding descriptions to enum values
  RELEASE.md
  strawberry/enum.py
  strawberry/schema/schema_converter.py
  tests/enums/test_enum.py
  tests/schema/test_basic.py
Labels: bot:has-release-file, bot:release-type-minor

#2115 fix: Make sure print output doesn't change ordering for extra types
  RELEASE.md
  strawberry/printer/printer.py
Labels: bot:has-release-file, bot:release-type-patch

#2114 Only install `backports.cached-property` if Python < 3.8
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/directive.py
  strawberry/extensions/tracing/datadog.py
  strawberry/federation/schema.py
  strawberry/field.py
  strawberry/types/fields/resolver.py
  strawberry/types/info.py
  strawberry/utils/cached_property.py
Labels: bot:has-release-file, bot:release-type-patch

#1889 Update GraphiQL page to the latest version
  RELEASE.md
  TWEET.md
  strawberry/aiohttp/handlers/http_handler.py
  strawberry/asgi/handlers/http_handler.py
  strawberry/asgi/utils.py
  strawberry/chalice/graphiql.py
  strawberry/chalice/views.py
  strawberry/channels/handlers/http_handler.py
  strawberry/django/views.py
  strawberry/fastapi/router.py
  strawberry/flask/graphiql.py
  strawberry/flask/views.py
  strawberry/sanic/graphiql.py
  strawberry/sanic/views.py
  strawberry/static/graphiql.html
  strawberry/utils/graphiql.py
Labels: bot:has-release-file, bot:release-type-minor

#2138 Fix graphiql template
  RELEASE.md
  strawberry/utils/graphiql.py
Labels: bot:has-release-file, bot:release-type-patch

#2140 Allow passing schema directives to `strawberry.Schema`
  RELEASE.md
  strawberry/printer/printer.py
  strawberry/schema/compat.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  tests/schema/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#2143 Fix styles for GraphiQL
  RELEASE.md
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-patch
