Repository strawberry-graphql/strawberry, pull requests merged in 2022-03, with the labels that each got.

#1691 Fix aiohttp bare function warnings
  RELEASE.md
  strawberry/aiohttp/views.py
Labels: bot:has-release-file, bot:release-type-patch

#1697 Add support for schema directives on input types
  RELEASE.md
  strawberry/printer.py
  tests/test_printer/test_schema_directives.py
Labels: bot:has-release-file, bot:release-type-patch

#1687 removed flask and django upper bound
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#1690 Fix custom scalars and auto typing issues
  RELEASE.md
  mypy.ini
  poetry.lock
  pyproject.toml
  strawberry/auto.py
  strawberry/custom_scalar.py
  strawberry/schema/types/scalar.py
  tests/experimental/pydantic/test_basic.py
  tests/pyright/test_auto.py
  tests/pyright/test_scalars.py
  tests/pyright/utils.py
  tests/test_auto.py
Labels: bot:has-release-file, bot:release-type-minor

#1698 Add support for graphql-transport-ws single result operations
  RELEASE.md
  docs/general/subscriptions.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/types/execution.py
  strawberry/utils/operation.py
  tests/aiohttp/schema.py
  tests/aiohttp/test_graphql_transport_ws.py
  tests/aiohttp/test_http.py
  tests/asgi/schema.py
  tests/asgi/test_graphql_transport_ws.py
  tests/fastapi/schema.py
  tests/fastapi/test_graphql_transport_ws.py
  tests/utils/test_get_first_operation.py
Labels: bot:has-release-file, bot:release-type-minor

#1702 add response object and test with diff status code
  RELEASE.md
  docs/integrations/flask.md
  strawberry/flask/views.py
  tests/flask/test_view.py
Labels: bot:has-release-file, bot:release-type-minor

#1205 Improve typings for strawberry.scalar
  RELEASE.md
  strawberry/custom_scalar.py
  strawberry/ext/mypy_plugin.py
  strawberry/federation/schema_directives.py
  tests/mypy/test_scalar.yml
Labels: bot:has-release-file, bot:release-type-patch

#1684 Make `strawberry.Private` compatible with PEP-563
  RELEASE.md
  strawberry/exceptions.py
  strawberry/field.py
  strawberry/schema/schema_converter.py
  tests/schema/test_private_field.py
Labels: bot:has-release-file, bot:release-type-patch

#1726 Make StrawberryOptional and StrawberryList hashable
  RELEASE.md
  strawberry/type.py
Labels: bot:has-release-file, bot:release-type-patch

#1745 Add support for LazyType in codegen
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/conftest.py
  tests/codegen/lazy_type.py
  tests/codegen/queries/basic.graphql
  tests/codegen/snapshots/python/basic.py
  tests/codegen/snapshots/typescript/basic.ts
Labels: bot:has-release-file, bot:release-type-patch

#1737 Omit exceptions from DataLoader.load/load_many return type annotation
  RELEASE.md
  docs/guides/dataloaders.md
  strawberry/dataloader.py
  tests/mypy/test_dataloaders.yml
Labels: bot:has-release-file, bot:release-type-patch

#1746 More codegen fixes
  RELEASE.md
  strawberry/codegen/plugins/print_operation.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/queries/union_with_one_type.graphql
  tests/codegen/queries/with_directives.graphql
  tests/codegen/snapshots/python/union_with_one_type.py
  tests/codegen/snapshots/typescript/union_with_one_type.ts
Labels: bot:has-release-file, bot:release-type-patch

#1701 Fix issue when using generics and interfaces together
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#1751 Add `__init__.py` in cli/commands
  RELEASE.md
  strawberry/cli/commands/__init__.py
Labels: bot:has-release-file, bot:release-type-patch

#1748 Copy field deprecation, permission_classes, and directives in pydantic
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch

#1752 Add python_type on GraphQLEnum
  RELEASE.md
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
Labels: bot:has-release-file, bot:release-type-patch

#1346 add gitpod config.
  .devcontainer/post-install.sh
  .gitpod.yml
Labels: hacktoberfest-accepted

#1760 Move console plugin to end
  RELEASE.md
  strawberry/cli/commands/codegen.py
Labels: bot:has-release-file, bot:release-type-patch

#1721 Add is_auto utility
  RELEASE.md
  strawberry/auto.py
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/object_type.py
  tests/test_auto.py
Labels: bot:has-release-file, bot:release-type-minor

#1772 Add support for aliased fields in codegen
  RELEASE.md
  strawberry/codegen/plugins/print_operation.py
  strawberry/codegen/plugins/python.py
  strawberry/codegen/plugins/typescript.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/queries/alias.graphql
  tests/codegen/snapshots/python/alias.py
  tests/codegen/snapshots/typescript/alias.ts
Labels: bot:has-release-file, bot:release-type-patch

#1717 Improve File Upload docs: add request examples
  docs/guides/file-upload.md
Labels: ok-to-preview
