Repository strawberry-graphql/strawberry, pull requests merged in 2022-12, with the labels that each got.

#2360 Expose GraphQLError from the strawberry namespace and document it
  RELEASE.md
  docs/guides/custom-extensions.md
  strawberry/exceptions.py
  tests/schema/extensions/test_extensions.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#2356 Added validation for type name uniqueness in a schema
  RELEASE.md
  strawberry/exceptions.py
  strawberry/schema/schema_converter.py
  tests/schema/test_duplicated_types.py
  tests/schema/test_lazy/type_b.py
Labels: bot:has-release-file, bot:release-type-minor

#2378 Fix issues with duplicated generics
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_duplicated_types.py
Labels: bot:has-release-file, bot:release-type-patch

#2294 Generic types allowed in schema's extra types.
  RELEASE.md
  strawberry/schema/schema.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#2381 Fix duplication of generics with lazy types
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_lazy/test_lazy_generic.py
Labels: bot:has-release-file, bot:release-type-patch

#2273 Refactor sanic view
  RELEASE.md
  docs/README.md
  docs/breaking-changes.md
  docs/breaking-changes/0.146.0.md
  docs/integrations/sanic.md
  poetry.lock
  pyproject.toml
  strawberry/http/__init__.py
  strawberry/sanic/context.py
  strawberry/sanic/views.py
  tests/sanic/app.py
  tests/sanic/test_upload.py
  tests/sanic/test_view.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#2388 Update Flask Async view methods to be async
  RELEASE.md
  docs/integrations/flask.md
  strawberry/flask/views.py
  tests/flask/app.py
Labels: bot:has-release-file, bot:release-type-minor

#2390 Optimization: Improve performance of rich exceptions on custom scalar
  RELEASE.md
  strawberry/custom_scalar.py
Labels: bot:has-release-file, bot:release-type-patch

#1722 Add FAQ page
  docs/README.md
  docs/faq.md
Labels: ok-to-preview

#2262 Add FAQ docs (#765)
  docs/README.md
  docs/faq.md
Labels: hacktoberfest-accepted, ok-to-preview

#2316 Fix for generic types to be used as argument annotations.
  RELEASE.md
  strawberry/field.py
  strawberry/type.py
  strawberry/types/fields/resolver.py
  strawberry/types/types.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#2394 Enhanced Data loaders
  RELEASE.md
  docs/guides/dataloaders.md
  strawberry/dataloader.py
  tests/test_dataloaders.py
Labels: bot:has-release-file, bot:release-type-minor

#1900 fix: TypeError when using generic types in resolver in more complex c…
  RELEASE.md
  strawberry/field.py
  tests/schema/test_resolvers.py
Labels: discussion, bot:has-release-file, bot:release-type-patch

#2313 Add graphql_type parameter to `strawberry.field`
  RELEASE.md
  strawberry/federation/field.py
  strawberry/field.py
  strawberry/object_type.py
  tests/schema/test_fields.py
Labels: bot:has-release-file, bot:release-type-minor

#2401 Fix strawberry docs `schema#handling-execution-errors`
  docs/types/schema.md
Labels: ok-to-preview

#2411 Fix enums inside generics
  RELEASE.md
  strawberry/enum.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#2415 Fix: copy field metadata for pydantic
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch
