Repository strawberry-graphql/strawberry, pull requests merged in 2022-02, with the labels that each got.

#1621 Fix name generation for nested generic types
  RELEASE.md
  strawberry/schema/name_converter.py
  tests/objects/generics/test_names.py
Labels: bot:has-release-file, bot:release-type-patch

#1618 chore(docs): Add docs for custom pydantic types with __get_validators__
  docs/integrations/pydantic.md
Labels: ok-to-preview

#1564 Introduce BaseContext class from which user CustomContext should inherit
  RELEASE.md
  docs/integrations/fastapi.md
  strawberry/exceptions.py
  strawberry/fastapi/__init__.py
  strawberry/fastapi/router.py
  tests/fastapi/test_context.py
Labels: bot:has-release-file, bot:release-type-patch

#1546 feat(pydantic): Support use_pydantic_alias parameter for pydantic conversion
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_conversion.py
  tests/schema/test_pydantic.py
Labels: bot:has-release-file, bot:release-type-patch

#1648 Support "void" functions
  RELEASE.md
  docs/general/mutations.md
  docs/types/scalars.md
  strawberry/annotation.py
  strawberry/schema/schema_converter.py
  strawberry/schema/types/base_scalars.py
  strawberry/schema/types/scalar.py
  tests/schema/test_scalars.py
  tests/types/resolving/test_literals.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#1601 Upgrade to graphql-core 3.2
  RELEASE.md
  docs/integrations/aiohttp.md
  docs/integrations/asgi.md
  docs/integrations/django.md
  docs/integrations/fastapi.md
  docs/integrations/flask.md
  docs/integrations/sanic.md
  mypy.ini
  mypy_tests.ini
  poetry.lock
  pyproject.toml
  strawberry/annotation.py
  strawberry/arguments.py
  strawberry/django/views.py
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  strawberry/ext/mypy_plugin.py
  strawberry/extensions/directives.py
  strawberry/extensions/query_depth_limiter.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/federation/object_type.py
  strawberry/federation/schema.py
  strawberry/field.py
  strawberry/http.py
  strawberry/lazy_type.py
  strawberry/printer.py
  strawberry/schema/config.py
  strawberry/schema/schema.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/subscriptions/protocols/graphql_transport_ws/types.py
  strawberry/subscriptions/protocols/graphql_ws/handlers.py
  strawberry/subscriptions/protocols/graphql_ws/types.py
  strawberry/type.py
  strawberry/types/info.py
  strawberry/types/nodes.py
  strawberry/union.py
  strawberry/utils/typing.py
  tests/aiohttp/test_graphql_transport_ws.py
  tests/aiohttp/test_graphql_ws.py
  tests/asgi/test_graphql_transport_ws.py
  tests/asgi/test_graphql_ws.py
  tests/asgi/test_query.py
  tests/fastapi/test_graphql_transport_ws.py
  tests/fastapi/test_graphql_ws.py
  tests/fastapi/test_query.py
  tests/mypy/test_decorators.yml
  tests/mypy/test_fields.yml
  tests/mypy/test_pydantic.decorators.yml
  tests/schema/extensions/test_query_depth_limiter.py
  tests/schema/test_schema_generation.py
Labels: bot:has-release-file, bot:release-type-minor

#1656 feat(pydantic): Allow conversion of pydantic conlist
  RELEASE.md
  docs/integrations/pydantic.md
  strawberry/experimental/pydantic/fields.py
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#1647 Bug in JSONScalar example
  RELEASE.md
  docs/types/scalars.md
  strawberry/custom_scalar.py
  strawberry/scalars.py
  strawberry/schema/types/scalar.py
  tests/schema/test_scalars.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor
