Repository strawberry-graphql/strawberry, pull requests merged in 2023-01, with the labels that each got.

#2440 Add support for FastAPI 0.89.0
  RELEASE.md
  poetry.lock
  strawberry/fastapi/router.py
Labels: bot:has-release-file, bot:release-type-patch

#2431 Delay checking for query until after extensions get a chance to run
  RELEASE.md
  strawberry/aiohttp/handlers/http_handler.py
  strawberry/asgi/handlers/http_handler.py
  strawberry/chalice/views.py
  strawberry/channels/handlers/http_handler.py
  strawberry/django/views.py
  strawberry/extensions/tracing/datadog.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/fastapi/router.py
  strawberry/flask/views.py
  strawberry/http/__init__.py
  strawberry/sanic/views.py
  strawberry/schema/base.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/types/execution.py
  tests/channels/test_http_handler.py
  tests/schema/extensions/test_extensions.py
Labels: bot:has-release-file, bot:release-type-minor

#2380 General support for connectionParams during websocket connection initialisation when operating Subscriptions
  RELEASE.md
  docs/general/subscriptions.md
  strawberry/channels/context.py
  strawberry/channels/handlers/base.py
  strawberry/channels/handlers/graphql_transport_ws_handler.py
  strawberry/channels/handlers/graphql_ws_handler.py
  strawberry/fastapi/__init__.py
  strawberry/fastapi/context.py
  strawberry/fastapi/handlers/graphql_transport_ws_handler.py
  strawberry/fastapi/handlers/graphql_ws_handler.py
  strawberry/fastapi/router.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/subscriptions/protocols/graphql_ws/handlers.py
  tests/aiohttp/schema.py
  tests/aiohttp/test_graphql_transport_ws.py
  tests/aiohttp/test_graphql_ws.py
  tests/asgi/schema.py
  tests/asgi/test_graphql_transport_ws.py
  tests/asgi/test_graphql_ws.py
  tests/channels/schema.py
  tests/channels/test_graphql_transport_ws.py
  tests/channels/test_graphql_ws.py
  tests/fastapi/schema.py
  tests/fastapi/test_context.py
  tests/fastapi/test_graphql_transport_ws.py
  tests/fastapi/test_graphql_ws.py
Labels: bot:release-type-minor, bot:has-release-file

#2455 pydantic: support confloat fields
  RELEASE.md
  strawberry/experimental/pydantic/fields.py
  tests/experimental/pydantic/test_fields.py
Labels: bot:release-type-minor, bot:has-release-file

#2463 Fix duplicated type name on generics
  RELEASE.md
  strawberry/lazy_type.py
  strawberry/schema/schema_converter.py
  tests/schema/test_lazy/test_lazy_generic.py
  tests/schema/test_lazy/type_c.py
Labels: bot:has-release-file, bot:release-type-patch

#2461 offset-based pagination documentation improvement
  docs/guides/pagination/offset-based.md
Labels: ok-to-preview

#2417 Exposes `dataclasses.asdict` to `strawberry.asdict`
  RELEASE.md
  docs/README.md
  docs/guides/convert-to-dictionary.md
  strawberry/__init__.py
  strawberry/object_type.py
  tests/types/test_convert_to_dictionary.py
Labels: bot:release-type-minor, bot:has-release-file

#2490 Link to the changelog from PyPI
  RELEASE.md
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#2492 Update faq.md, fixing relative links
  docs/faq.md
Labels: ok-to-preview

#2481 Improve the performance of conversions from NextMessage to a dict
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/types.py
Labels: bot:has-release-file, bot:release-type-patch
