Repository strawberry-graphql/strawberry, pull requests merged in 2023-03, with the labels that each got.

#2616 Add support for Mypy 1.1.1
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
  strawberry/object_type.py
Labels: bot:has-release-file, bot:release-type-patch

#2574 Rename Extension to SchemaExtension
  RELEASE.md
  docs/guides/custom-extensions.md
  docs/types/schema.md
  poetry.lock
  strawberry/extensions/__init__.py
  strawberry/extensions/add_validation_rules.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/context.py
  strawberry/extensions/directives.py
  strawberry/extensions/disable_validation.py
  strawberry/extensions/mask_errors.py
  strawberry/extensions/parser_cache.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/apollo.py
  strawberry/extensions/tracing/datadog.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/extensions/validation_cache.py
  strawberry/federation/schema.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  tests/schema/extensions/test_extensions.py
  tests/schema/test_directives.py
  tests/schema/test_execution_errors.py
  tests/schema/test_get_extensions.py
  tests/types/test_execution.py
  tests/views/schema.py
Labels: bot:release-type-minor, bot:has-release-file

#2567 feat: add field extension support
  RELEASE.md
  docs/guides/custom-extensions.md
  docs/guides/field-extensions.md
  strawberry/extensions/__init__.py
  strawberry/extensions/field_extension.py
  strawberry/field.py
  strawberry/schema/schema_converter.py
  tests/schema/extensions/test_field_extensions.py
Labels: ok-to-preview, bot:release-type-minor, bot:has-release-file

#2632 support convert directive arguement to lists
  RELEASE.md
  strawberry/extensions/directives.py
  tests/schema/test_directives.py
Labels: bot:release-type-minor, bot:has-release-file

#2639 provide ASGI websocket close reason
  RELEASE.md
  pyproject.toml
  strawberry/asgi/handlers/graphql_transport_ws_handler.py
  tests/asgi/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#2593 better error on union of `StrawberryList`
  RELEASE.md
  strawberry/exceptions/invalid_union_type.py
  tests/schema/test_union.py
Labels: bot:has-release-file

#2623 fix pydantic conversion of types that have defaults
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/schema/test_defaults.py
  tests/schema/test_fields.py
Labels: bot:release-type-minor, bot:has-release-file

#2647 Fix interface duplication for multiple inheritance
  RELEASE.md
  strawberry/object_type.py
  strawberry/types/types.py
  tests/schema/test_interface.py
Labels: bot:has-release-file, bot:release-type-patch

#2592 feat: full support for forward refs
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/annotation.py
  strawberry/schema/name_converter.py
  strawberry/types/fields/resolver.py
  strawberry/utils/typing.py
  tests/test_forward_references.py
  tests/types/resolving/test_parse_annotated.py
  tests/utils/test_typing.py
  tests/utils/test_typing_forward_refs.py
Labels: bot:release-type-minor, bot:has-release-file

#2655 update MaskErrors extension to use new extension api
  RELEASE.md
  strawberry/extensions/mask_errors.py
Labels: bot:has-release-file, bot:release-type-patch

#2572 feat: Adds warning when using @strawberry.federation.type but not using strawberry.federation.Schema
  RELEASE.md
  strawberry/schema/schema.py
  tests/federation/test_schema.py
Labels: bot:release-type-minor, bot:has-release-file

#2661 Fix warning when using federation
  RELEASE.md
  strawberry/federation/schema.py
  strawberry/schema/schema.py
  tests/federation/test_schema.py
Labels: bot:has-release-file, bot:release-type-patch

#2664 Add extra for starlite
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch
