Repository strawberry-graphql/strawberry, pull requests merged in 2023-11, with the labels that each got.

#3193 Add missing link to field extensions
  docs/README.md
Labels: ok-to-preview

#3202 Distinguish between python and graphql generics
  RELEASE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/annotation.py
  strawberry/arguments.py
  strawberry/custom_scalar.py
  strawberry/enum.py
  strawberry/federation/schema.py
  strawberry/field.py
  strawberry/object_type.py
  strawberry/schema/compat.py
  strawberry/schema/name_converter.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/type.py
  strawberry/types/fields/resolver.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  strawberry/union.py
  tests/objects/generics/test_generic_objects.py
  tests/pyright/test_federation.py
  tests/pyright/test_federation_fields.py
  tests/pyright/test_federation_params.py
  tests/pyright/test_fields.py
  tests/pyright/test_fields_input.py
  tests/pyright/test_fields_keyword.py
  tests/pyright/test_fields_resolver.py
  tests/pyright/test_fields_resolver_async.py
  tests/pyright/test_params.py
  tests/pyright/test_private.py
  tests/pyright/test_scalars.py
  tests/pyright/utils.py
  tests/python_312/test_python_generics.py
  tests/types/resolving/test_generics.py
  tests/types/resolving/test_unions.py
  tests/types/resolving/test_unions_deprecated.py
Labels: bot:has-release-file, bot:release-type-minor

#3209 Add support for multiple GraphQL IDEs
  RELEASE.md
  TWEET.md
  docs/breaking-changes.md
  docs/breaking-changes/0.213.0.md
  docs/guides/dataloaders.md
  docs/integrations/aiohttp.md
  docs/integrations/asgi.md
  docs/integrations/chalice.md
  docs/integrations/channels.md
  docs/integrations/creating-an-integration.md
  docs/integrations/django.md
  docs/integrations/fastapi.md
  docs/integrations/sanic.md
  docs/integrations/starlite.md
  docs/operations/deployment.md
  noxfile.py
  strawberry/aiohttp/views.py
  strawberry/asgi/__init__.py
  strawberry/chalice/views.py
  strawberry/channels/handlers/http_handler.py
  strawberry/django/views.py
  strawberry/fastapi/router.py
  strawberry/flask/views.py
  strawberry/http/async_base_view.py
  strawberry/http/base.py
  strawberry/http/ides.py
  strawberry/http/sync_base_view.py
  strawberry/quart/views.py
  strawberry/sanic/views.py
  strawberry/starlite/controller.py
  strawberry/static/apollo-sandbox.html
  strawberry/static/pathfinder.html
  strawberry/utils/graphiql.py
  tests/http/clients/aiohttp.py
  tests/http/clients/asgi.py
  tests/http/clients/async_django.py
  tests/http/clients/async_flask.py
  tests/http/clients/base.py
  tests/http/clients/chalice.py
  tests/http/clients/channels.py
  tests/http/clients/django.py
  tests/http/clients/fastapi.py
  tests/http/clients/flask.py
  tests/http/clients/quart.py
  tests/http/clients/sanic.py
  tests/http/clients/starlite.py
  tests/http/conftest.py
  tests/http/test_graphiql.py
  tests/http/test_graphql_ide.py
Labels: bot:has-release-file, bot:release-type-minor

#3227 GraphiQL packages upgrade to latest
  RELEASE.md
  strawberry/chalice/views.py
  strawberry/codegen/query_codegen.py
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-minor

#3239 Add extensions support to federation.field
  RELEASE.md
  strawberry/federation/field.py
  tests/schema/extensions/test_input_mutation_federation.py
Labels: bot:has-release-file, bot:release-type-minor

#3194 Improved error message when supplying incorrect globalid
  RELEASE.md
  strawberry/relay/types.py
Labels: bot:has-release-file, bot:release-type-patch

#3263 fix(docs): Channels examples are now working properly.
  docs/integrations/channels.md
Labels: ok-to-preview
