Repository strawberry-graphql/strawberry, pull requests merged in 2023-04, with the labels that each got.

#2683 Add release file for mr 2677, revert protocol exposure of _original_model
  RELEASE.md
  strawberry/experimental/pydantic/conversion_types.py
Labels: bot:has-release-file, bot:release-type-patch

#2681 Refactor all* HTTP views
  RELEASE.md
  docs/README.md
  docs/breaking-changes.md
  docs/breaking-changes/0.169.0.md
  docs/integrations/creating-an-integration.md
  docs/integrations/flask.md
  docs/integrations/sanic.md
  pyproject.toml
  strawberry/aiohttp/handlers/__init__.py
  strawberry/aiohttp/handlers/http_handler.py
  strawberry/aiohttp/views.py
  strawberry/asgi/__init__.py
  strawberry/asgi/handlers/__init__.py
  strawberry/asgi/handlers/http_handler.py
  strawberry/chalice/views.py
  strawberry/cli/debug_server.py
  strawberry/django/views.py
  strawberry/fastapi/router.py
  strawberry/file_uploads/utils.py
  strawberry/flask/views.py
  strawberry/http/async_base_view.py
  strawberry/http/base.py
  strawberry/http/exceptions.py
  strawberry/http/sync_base_view.py
  strawberry/http/temporal_response.py
  strawberry/http/types.py
  strawberry/http/typevars.py
  strawberry/sanic/utils.py
  strawberry/sanic/views.py
  strawberry/starlite/controller.py
  strawberry/types/graphql.py
  tests/conftest.py
  tests/django/test_async_view.py
  tests/django/test_views.py
  tests/fastapi/test_response_headers.py
  tests/fastapi/test_response_status.py
  tests/http/clients/aiohttp.py
  tests/http/clients/asgi.py
  tests/http/clients/async_django.py
  tests/http/clients/async_flask.py
  tests/http/clients/base.py
  tests/http/clients/chalice.py
  tests/http/clients/django.py
  tests/http/clients/fastapi.py
  tests/http/clients/flask.py
  tests/http/clients/sanic.py
  tests/http/clients/starlite.py
  tests/http/test_graphiql.py
  tests/http/test_query.py
  tests/http/test_upload.py
  tests/starlite/test_context.py
  tests/views/schema.py
Labels: bot:release-type-minor, bot:has-release-file

#2690 Add support for converting the enum values in name converter
  RELEASE.md
  strawberry/schema/name_converter.py
  strawberry/schema/schema_converter.py
  tests/schema/test_name_converter.py
Labels: bot:release-type-minor, bot:has-release-file

#2693 Add support for mypy 1.2.0
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/experimental/pydantic/fields.py
  strawberry/ext/mypy_plugin.py
  strawberry/field.py
Labels: bot:release-type-minor, bot:has-release-file

#2696 Fix name conversion
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_name_converter.py
Labels: bot:has-release-file, bot:release-type-patch

#2718 Cancelling subscriptions with finalizers does not block websocket
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  tests/views/schema.py
  tests/websockets/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#2721 Enable ruff annotations ANN206
  RELEASE.md
  federation-compatibility/schema.py
  pyproject.toml
  strawberry/types/nodes.py
  tests/experimental/pydantic/schema/test_federation.py
  tests/federation/test_entities.py
  tests/schema/extensions/test_extensions.py
Labels: bot:has-release-file, bot:release-type-patch

#2726 feat: extension MaxAliasesLimiter
  RELEASE.md
  docs/extensions/max-aliases-limiter.md
  strawberry/extensions/__init__.py
  strawberry/extensions/max_aliases.py
  tests/schema/extensions/test_max_aliases.py
Labels: bot:has-release-file, bot:release-type-minor

#2728 Operational Directives Documentation V1
  docs/README.md
  docs/types/operation-directives.md
Labels: ok-to-preview

#2727 PyInstrument Extension
  RELEASE.md
  docs/_test.md
  docs/extensions/pyinstrument.md
  poetry.lock
  pyproject.toml
  strawberry/extensions/pyinstrument.py
  tests/extensions/test_pyinstrument.py
Labels: bot:has-release-file, bot:release-type-minor

#2704 Bumped the version of typing_extensions to 4.0.0
  RELEASE.md
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#2736 Do not display graphiql view in fastapi doc if graphiql parameter is …
  RELEASE.md
  strawberry/fastapi/router.py
Labels: bot:has-release-file, bot:release-type-minor

#2739 Add response to get_context in ws asgi
  RELEASE.md
  strawberry/asgi/handlers/graphql_transport_ws_handler.py
  strawberry/asgi/handlers/graphql_ws_handler.py
Labels: bot:has-release-file, bot:release-type-patch
