Repository strawberry-graphql/strawberry, pull requests merged in 2023-07, with the labels that each got.

#2913 Add specifications in FastAPI doc if query via GET is enabled
  RELEASE.md
  strawberry/fastapi/router.py
  tests/fastapi/test_openapi.py
Labels: bot:has-release-file, bot:release-type-patch

#2901 Fix unresolved arguments using typing.Annotated
  RELEASE.md
  strawberry/annotation.py
  strawberry/arguments.py
  strawberry/types/fields/resolver.py
  tests/schema/test_annotated/__init__.py
  tests/schema/test_annotated/type_a.py
  tests/schema/test_annotated/type_b.py
  tests/schema/test_arguments.py
Labels: bot:has-release-file, bot:release-type-patch

#2856 Reimplement channel_listen as context manager
  RELEASE.md
  docs/integrations/channels.md
  strawberry/channels/handlers/base.py
  tests/channels/test_layers.py
  tests/views/schema.py
Labels: bot:has-release-file, bot:release-type-minor

#2922 fix: only resolve a field's type after field extensions has been applied to it
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/fields/test_field_exceptions.py
Labels: bot:has-release-file, bot:release-type-patch

#2925 Restore evaled type access in `StrawberryAnnotation`
  RELEASE.md
  strawberry/annotation.py
  strawberry/arguments.py
  strawberry/auto.py
  tests/experimental/pydantic/test_fields.py
  tests/schema/extensions/test_input_mutation_future.py
Labels: bot:has-release-file, bot:release-type-minor

#2932 Add setter on `StrawberryAnnotation.annotation`
  RELEASE.md
  strawberry/annotation.py
  tests/types/test_annotation.py
Labels: bot:has-release-file, bot:release-type-patch

#2926 improve performance of `strawberry.lazy()` with relative imports
  RELEASE.md
  strawberry/lazy_type.py
Labels: bot:has-release-file, bot:release-type-patch

#2906 Add default argument to typer Argument.
  RELEASE.md
  strawberry/cli/commands/upgrade/__init__.py
Labels: bot:has-release-file

#2899 ensure that `Schema.process_errors()` is called properly
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  tests/views/schema.py
  tests/websockets/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#2947 Fix link to relay page
  docs/guides/pagination/overview.md
Labels: ok-to-preview

#1949 Improve interface performance using resolve_type
  RELEASE.md
  strawberry/object_type.py
  strawberry/schema/schema_converter.py
  strawberry/types/types.py
  tests/schema/test_interface.py
Labels: bot:has-release-file, bot:release-type-minor

#2955 Skip optimised check when returning generic types
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#2938 Fix relay connection paging without first argument
  RELEASE.md
  strawberry/relay/types.py
  tests/relay/schema.py
  tests/relay/schema_future_annotations.py
  tests/relay/snapshots/schema.gql
  tests/relay/snapshots/schema_future_annotations.gql
  tests/relay/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#2968 Remove upper bound pin for uvicorn
  Makefile
  RELEASE.md
  noxfile.py
  poetry.lock
  pyproject.toml
Labels: bot:has-release-file, bot:release-type-patch

#2971 Update GraphiQL UI screenshot in Getting started
  docs/images/index-query-example.png
  docs/images/index-server.png
  docs/index.md
Labels: ok-to-preview

#2982 Add support for unions with single members
  RELEASE.md
  docs/types/union.md
  strawberry/annotation.py
  tests/schema/test_union.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#2983 fix: preserve extra annotations when resolving auto/lazy fields
  RELEASE.md
  strawberry/lazy_type.py
  strawberry/utils/typing.py
  tests/utils/test_typing.py
Labels: bot:has-release-file, bot:release-type-patch

#2990 fix: do not strip the type when using auto
  RELEASE.md
  strawberry/experimental/pydantic/error_type.py
  strawberry/utils/typing.py
  tests/utils/test_typing.py
Labels: bot:has-release-file, bot:release-type-patch

#2907 chore: remove eol python 3.7
  .github/release-check-action/Dockerfile
  .github/workflows/test.yml
  RELEASE.md
  docs/index.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/exceptions/handler.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
Labels: bot:has-release-file, bot:release-type-minor

#2989 Add support for returning interfaces directly in resolvers
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/test_interface.py
Labels: bot:has-release-file, bot:release-type-minor
