Repository strawberry-graphql/strawberry, pull requests merged in 2023-09, with the labels that each got.

#2911 Allow codegen to process multiple query files in a single command
  RELEASE.md
  docs/codegen/query-codegen.md
  strawberry/cli/commands/codegen.py
  strawberry/codegen/__init__.py
  strawberry/codegen/plugins/python.py
  strawberry/codegen/plugins/typescript.py
  strawberry/codegen/query_codegen.py
  tests/cli/test_codegen.py
  tests/codegen/test_print_operation.py
  tests/codegen/test_query_codegen.py
Labels: bot:has-release-file, bot:release-type-minor

#3093 Remove deprecated `ignore` argument from `QueryDepthLimiter`
  RELEASE.md
  docs/extensions/query-depth-limiter.md
  strawberry/extensions/query_depth_limiter.py
  tests/schema/extensions/test_query_depth_limiter_deprecated.py
Labels: bot:has-release-file, bot:release-type-minor

#3086 Fix a codegen fragment spread bug
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/queries/interface_fragments_with_spread.graphql
  tests/codegen/queries/union_with_typename_and_fragment.graphql
  tests/codegen/snapshots/python/interface_fragments_with_spread.py
  tests/codegen/snapshots/python/union_with_typename_and_fragment.py
  tests/codegen/snapshots/typescript/interface_fragments_with_spread.ts
  tests/codegen/snapshots/typescript/union_with_typename_and_fragment.ts
Labels: bot:has-release-file, bot:release-type-patch

#3017 Add new strawberry.Parent annotation to support static resolvers with non-self types.
  RELEASE.md
  docs/errors/conflicting-arguments.md
  docs/types/resolvers.md
  strawberry/__init__.py
  strawberry/exceptions/__init__.py
  strawberry/exceptions/conflicting_arguments.py
  strawberry/exceptions/utils/source_finder.py
  strawberry/parent.py
  strawberry/private.py
  strawberry/schema/schema_converter.py
  strawberry/types/fields/resolver.py
  strawberry/utils/typing.py
  tests/fields/test_resolvers.py
  tests/schema/test_resolvers.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#3077 Codegen generic types
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/conftest.py
  tests/codegen/queries/generic_types.graphql
  tests/codegen/snapshots/python/generic_types.py
  tests/codegen/snapshots/typescript/generic_types.ts
Labels: bot:has-release-file, bot:release-type-patch

#3099 Fix issue with unnamed unions and generics
  .pre-commit-config.yaml
  RELEASE.md
  strawberry/schema/name_converter.py
  tests/python_312/test_generics.py
  tests/schema/test_generics.py
Labels: bot:has-release-file, bot:release-type-patch

#3101 Add support for more builtin pydantic v2 types
  RELEASE.md
  strawberry/experimental/pydantic/_compat.py
  strawberry/experimental/pydantic/fields.py
  tests/experimental/pydantic/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch

#3096 Add schema codegen command
  .pre-commit-config.yaml
  RELEASE.md
  docs/README.md
  docs/codegen/schema-codegen.md
  pyproject.toml
  strawberry/aiohttp/handlers/graphql_transport_ws_handler.py
  strawberry/channels/handlers/base.py
  strawberry/cli/__init__.py
  strawberry/cli/commands/schema_codegen.py
  strawberry/codegen/query_codegen.py
  strawberry/codemods/annotated_unions.py
  strawberry/django/views.py
  strawberry/field.py
  strawberry/schema_codegen/__init__.py
  strawberry/types/types.py
  strawberry/utils/str_converters.py
  tests/cli/test_schema_codegen.py
  tests/schema/test_info.py
  tests/schema_codegen/__init__.py
  tests/schema_codegen/snapshots/long_descriptions.py
  tests/schema_codegen/test_descriptions.py
  tests/schema_codegen/test_enum.py
  tests/schema_codegen/test_input_types.py
  tests/schema_codegen/test_names.py
  tests/schema_codegen/test_root_types_extend.py
  tests/schema_codegen/test_scalar.py
  tests/schema_codegen/test_schema.py
  tests/schema_codegen/test_types.py
  tests/schema_codegen/test_union.py
  tests/test_dataloaders.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#3112 Fix generation of schema when description had double quotes
  RELEASE.md
  strawberry/schema_codegen/__init__.py
  tests/schema_codegen/test_descriptions.py
Labels: bot:has-release-file, bot:release-type-patch

#3109 Fix pydantic with nested annotated type annotations
  RELEASE.md
  strawberry/experimental/pydantic/fields.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:has-release-file, bot:release-type-patch
