Repository strawberry-graphql/strawberry, pull requests merged in 2023-10, with the labels that each got.

#3124 fix: use markcoroutinefunction on django async view to support python 3.12
  RELEASE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/django/views.py
Labels: bot:has-release-file, bot:release-type-patch

#3131 fix: exclude "self" from ConflictingArgumentsError check
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/schema/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch

#3137 Add text/html content-type to chalice graphiql response
  RELEASE.md
  strawberry/chalice/views.py
  tests/http/test_graphiql.py
Labels: bot:has-release-file, bot:release-type-patch

#3143 remove stack_info from logging
  RELEASE.md
  strawberry/utils/logging.py
Labels: bot:has-release-file, bot:release-type-patch

#3159 Fix strawberry mypy pluging for pydantic v2
  RELEASE.md
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#3162 Add a Quart view
  RELEASE.md
  docs/README.md
  docs/guides/file-upload.md
  docs/integrations/quart.md
  docs/operations/deployment.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/quart/__init__.py
  strawberry/quart/graphiql.py
  strawberry/quart/views.py
  tests/conftest.py
  tests/http/clients/quart.py
  tests/http/conftest.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor

#3170 fix parser_cache extension
  RELEASE.md
  strawberry/extensions/parser_cache.py
  tests/schema/extensions/test_parser_cache.py
Labels: bot:has-release-file, bot:release-type-patch

#3179 docs: include subscription constants in FastAPI section
  docs/general/subscriptions.md
Labels: ok-to-preview
