Repository strawberry-graphql/strawberry, pull requests merged in 2023-02, with the labels that each got.

#2503 Fix missing custom `resolve_reference` method for `strawberry.experimental.pydantic.type`
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/schema/test_federation.py
Labels: bot:has-release-file, bot:release-type-patch

#2512 Fix file not found error when exporting schema with lazy types from CLI
  RELEASE.md
  strawberry/lazy_type.py
  tests/schema/test_lazy/schema.py
  tests/schema/test_lazy/test_lazy_generic.py
  tests/schema/test_lazy/type_c.py
Labels: bot:has-release-file, bot:release-type-patch

#2517 feat: support specialized generic types
  RELEASE.md
  docs/types/generics.md
  strawberry/schema/name_converter.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  strawberry/utils/inspect.py
  tests/schema/test_generics.py
  tests/utils/test_inspect.py
Labels: bot:release-type-minor, bot:has-release-file

#2458 feat: add minimal testing communicator for channels.
  RELEASE.md
  docs/integrations/channels.md
  strawberry/channels/testing.py
  tests/channels/test_testing.py
Labels: bot:has-release-file, bot:release-type-patch

#2528 Add Awaitable in resolver type
  RELEASE.md
  strawberry/field.py
  tests/pyright/test_fields_resolver_async.py
Labels: bot:has-release-file, bot:release-type-patch

#2516 Add support for Mypy 1.0
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_enum.yml
  tests/mypy/test_plugin.py
  tests/mypy/test_union.yml
Labels: bot:has-release-file, bot:release-type-patch

#2535 Update _RESOLVER_TYPE to prevent error in mypy
  RELEASE.md
  strawberry/field.py
  tests/mypy/test_fields.yml
Labels: bot:has-release-file, bot:release-type-patch

#2554 fixed errors found in cursor implementation
  docs/guides/pagination/cursor-based.md
Labels: ok-to-preview

#2549 Add support for Federation 2.3
  .alexignore
  .pre-commit-config.yaml
  RELEASE.md
  TWEET.md
  docs/README.md
  docs/federation/custom_directives.md
  docs/federation/entities.md
  docs/federation/entity-interfaces.md
  docs/federation/introduction.md
  federation-compatibility/schema.py
  poetry.lock
  strawberry/ext/mypy_plugin.py
  strawberry/federation/__init__.py
  strawberry/federation/object_type.py
  strawberry/federation/schema.py
  strawberry/federation/schema_directive.py
  strawberry/federation/schema_directives.py
  strawberry/schema/base.py
  strawberry/schema/schema.py
  tests/federation/printer/test_compose_directive.py
  tests/federation/printer/test_entities.py
  tests/federation/printer/test_inaccessible.py
  tests/federation/printer/test_interface.py
  tests/federation/printer/test_interface_object.py
  tests/federation/printer/test_keys.py
  tests/federation/printer/test_link.py
  tests/federation/printer/test_override.py
  tests/federation/printer/test_provides.py
  tests/federation/printer/test_requires.py
  tests/federation/printer/test_shareable.py
  tests/federation/printer/test_tag.py
Labels: ok-to-preview, bot:release-type-minor, bot:has-release-file

#2540 Throw proper exceptions when Unions are created with invalid types
  RELEASE.md
  strawberry/schema/name_converter.py
  strawberry/schema/schema_converter.py
  strawberry/union.py
  tests/schema/test_union.py
  tests/types/test_lazy_types.py
Labels: bot:release-type-minor, bot:has-release-file

#2559 remove strawberry.enum class decorator in object-is-not-an-enum.md
  docs/errors/object-is-not-an-enum.md
Labels: ok-to-preview

#2562 Docs: Add errors folder
  docs/README.md
Labels: ok-to-preview

#2575 Include deprecated arguments in GraphiQL
  RELEASE.md
  strawberry/static/graphiql.html
Labels: bot:has-release-file, bot:release-type-patch

#2581 chore(2578): add type annotation to fastapi `BaseContext.__init__`
  RELEASE.md
  strawberry/fastapi/context.py
Labels: bot:has-release-file, bot:release-type-patch

#2428 support generator style extensions hooks.
  .github/workflows/test.yml
  RELEASE.md
  docs/breaking-changes.md
  docs/breaking-changes/0.159.0.md
  docs/guides/custom-extensions.md
  strawberry/extensions/add_validation_rules.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/context.py
  strawberry/extensions/disable_validation.py
  strawberry/extensions/parser_cache.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/apollo.py
  strawberry/extensions/tracing/datadog.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/extensions/validation_cache.py
  strawberry/schema/execute.py
  strawberry/utils/await_maybe.py
  tests/schema/extensions/test_extensions.py
  tests/types/test_execution.py
Labels: ok-to-preview, bot:release-type-minor, bot:has-release-file
