Repository strawberry-graphql/strawberry, pull requests merged in 2023-06, with the labels that each got.

#2790 Make StrawberryAnnotation hashable.
  RELEASE.md
  strawberry/annotation.py
  strawberry/type.py
  strawberry/union.py
  tests/types/test_annotation.py
Labels: bot:release-type-patch, bot:has-release-file

#2802 Allow the usage of fragment directives in codegen.
  RELEASE.md
  strawberry/codegen/plugins/print_operation.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/queries/fragment.graphql
  tests/codegen/queries/mutation-fragment.graphql
  tests/codegen/snapshots/python/fragment.py
  tests/codegen/snapshots/python/mutation-fragment.py
  tests/codegen/snapshots/typescript/fragment.ts
  tests/codegen/snapshots/typescript/mutation-fragment.ts
Labels: bot:release-type-patch, bot:has-release-file

#2804 Fix GraphiQL Explorer Plugin styling and update GraphiQL to the latest 2.4.7 version
  RELEASE.md
  strawberry/codegen/query_codegen.py
  strawberry/static/graphiql.html
Labels: bot:release-type-patch, bot:has-release-file

#2806 Make sure that `CodegenResult` can write the files requested.
  RELEASE.md
  strawberry/codegen/query_codegen.py
Labels: bot:release-type-patch, bot:has-release-file

#2805 Fix fragment codegen.
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/queries/fragment.graphql
  tests/codegen/snapshots/python/fragment.py
  tests/codegen/snapshots/typescript/fragment.ts
Labels: bot:release-type-patch, bot:has-release-file

#2744 feat: support lazy references with forward references
  RELEASE.md
  strawberry/utils/typing.py
  tests/a.py
  tests/b.py
  tests/test_forward_references.py
Labels: bot:release-type-minor

#2511 feat: Initial relay implementation
  .coveragerc
  RELEASE.md
  docs/README.md
  docs/errors/node-id-annotation.md
  docs/errors/relay-wrong-annotation.md
  docs/errors/relay-wrong-resolver-annotation.md
  docs/guides/pagination/overview.md
  docs/guides/relay.md
  pyproject.toml
  strawberry/__init__.py
  strawberry/field.py
  strawberry/relay/__init__.py
  strawberry/relay/exceptions.py
  strawberry/relay/fields.py
  strawberry/relay/types.py
  strawberry/relay/utils.py
  strawberry/schema/config.py
  strawberry/schema/name_converter.py
  strawberry/schema/schema_converter.py
  strawberry/schema/types/scalar.py
  strawberry/types/type_resolver.py
  strawberry/utils/aio.py
  strawberry/utils/inspect.py
  strawberry/utils/typing.py
  tests/pyright/test_relay.py
  tests/relay/__init__.py
  tests/relay/schema.gql
  tests/relay/schema.py
  tests/relay/test_exceptions.py
  tests/relay/test_fields.py
  tests/relay/test_schema.py
  tests/relay/test_types.py
  tests/relay/test_utils.py
  tests/schema/test_generics.py
  tests/test_aio.py
  tests/test_inspect.py
Labels: ok-to-preview, bot:release-type-minor, bot:has-release-file

#2580 feat: new input_mutation field
  RELEASE.md
  docs/general/mutations.md
  strawberry/field_extensions/__init__.py
  strawberry/field_extensions/input_mutation.py
  strawberry/schema/schema_converter.py
  tests/http/test_input_mutation.py
Labels: bot:release-type-minor, bot:has-release-file

#2814 fix: fix Node implemented types wrongly adding an id argument everywhere they are defined
  RELEASE.md
  docs/guides/relay.md
  strawberry/types/type_resolver.py
  tests/relay/schema.gql
  tests/relay/schema.py
  tests/relay/test_fields.py
Labels: bot:release-type-patch, bot:has-release-file

#2811 Fields copy their directives.
  RELEASE.md
  strawberry/field.py
  tests/objects/generics/test_generic_objects.py
Labels: bot:release-type-patch, bot:has-release-file

#2819 Fix codegen missing fields
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/conftest.py
  tests/codegen/queries/union_return.graphql
  tests/codegen/queries/union_with_one_type.graphql
  tests/codegen/snapshots/python/union_return.py
  tests/codegen/snapshots/python/union_with_one_type.py
  tests/codegen/snapshots/typescript/union_return.ts
  tests/codegen/snapshots/typescript/union_with_one_type.ts
Labels: bot:release-type-patch, bot:has-release-file

#2821 fix: use ast to parse lazy types using forward refs to cover some corner cases
  RELEASE.md
  strawberry/utils/typing.py
  tests/a.py
  tests/b.py
  tests/test_forward_references.py
Labels: bot:release-type-patch, bot:has-release-file

#2824 Fix duplicated type when using generics and lazy types
  RELEASE.md
  strawberry/types/types.py
  strawberry/utils/inspect.py
  tests/schema/test_lazy/test_lazy_generic.py
  tests/schema/test_lazy/type_d.py
  tests/utils/test_inspect.py
Labels: bot:release-type-patch, bot:has-release-file

#2831 Allow a mutation query to utilize object arguments in codegen
  RELEASE.md
  strawberry/codegen/plugins/print_operation.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/conftest.py
  tests/codegen/queries/mutation_with_object.graphql
  tests/codegen/snapshots/python/mutation_with_object.py
  tests/codegen/snapshots/python/variables.py
  tests/codegen/snapshots/typescript/mutation_with_object.ts
  tests/codegen/snapshots/typescript/variables.ts
Labels: bot:release-type-patch, bot:has-release-file

#2843 Fix list codegen
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/snapshots/python/variables.py
  tests/codegen/snapshots/typescript/variables.ts
Labels: bot:has-release-file, bot:release-type-patch

#2838 refactor: resolve `relay.NodeID` annotations when creating the schema itself
  RELEASE.md
  strawberry/relay/types.py
  strawberry/schema/schema.py
  tests/relay/test_exceptions.py
  tests/relay/test_schema.py
Labels: bot:release-type-minor, bot:has-release-file

#2569 Replace click with typer
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/cli/__init__.py
  strawberry/cli/app.py
  strawberry/cli/commands/codegen.py
  strawberry/cli/commands/export_schema.py
  strawberry/cli/commands/server.py
  strawberry/cli/utils/__init__.py
  strawberry/extensions/pyinstrument.py
  tests/cli/conftest.py
  tests/cli/test_codegen.py
  tests/cli/test_export_schema.py
  tests/cli/test_server.py
  tests/extensions/test_pyinstrument.py
Labels: bot:has-release-file, bot:release-type-patch

#2227 Use `dataclass_transform` instead of our custom one
  RELEASE.md
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
  strawberry/federation/object_type.py
  strawberry/federation/schema_directive.py
  strawberry/object_type.py
  strawberry/schema_directive.py
  strawberry/utils/typing.py
  tests/mypy/test_mutation.yml
Labels: bot:release-type-minor, bot:has-release-file

#2847 Fix directive typehint
  RELEASE.md
  strawberry/directive.py
  tests/mypy/test_directives.yml
  tests/pyright/test_directives.py
Labels: bot:has-release-file, bot:release-type-patch

#2794 Fix KeyError thrown during subscription cleanup
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
Labels: bot:has-release-file, bot:release-type-patch

#2860 Allow codegen to work with default values.
  RELEASE.md
  strawberry/codegen/plugins/python.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/conftest.py
  tests/codegen/snapshots/python/mutation_with_object.py
  tests/codegen/snapshots/typescript/mutation_with_object.ts
Labels: bot:has-release-file, bot:release-type-patch

#2865 fix(field): ensure extensions/_arguments are copied to the new field
  RELEASE.md
  strawberry/field.py
  strawberry/types/types.py
  tests/objects/generics/test_generic_objects.py
Labels: bot:has-release-file, bot:release-type-patch

#2872 Bump typing-extensions to 4.5
  RELEASE.md
  poetry.lock
  pyproject.toml
  tests/pyright/test_enum.py
  tests/pyright/test_federation.py
  tests/pyright/test_federation_fields.py
  tests/pyright/test_fields.py
  tests/pyright/test_fields_input.py
  tests/pyright/test_fields_resolver.py
  tests/pyright/test_fields_resolver_async.py
  tests/pyright/test_interface.py
  tests/pyright/test_scalars.py
Labels: bot:has-release-file, bot:release-type-patch

#2877 refactor: add a `strict` keyword for get_object_definition
  RELEASE.md
  strawberry/codegen/query_codegen.py
  strawberry/type.py
  tests/objects/generics/test_generic_objects.py
  tests/relay/test_utils.py
  tests/schema/test_directives.py
  tests/schema/test_extensions.py
  tests/test_type.py
Labels: bot:has-release-file, bot:release-type-patch

#2878 fix: StrawberryContainer can receive types other than strawberry types
  RELEASE.md
  strawberry/type.py
  tests/pyright/test_type.py
Labels: bot:has-release-file, bot:release-type-patch

#2699 Move tasks into Operation object for GraphqlTransportWS handler
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  tests/aiohttp/app.py
  tests/http/clients/base.py
  tests/http/clients/channels.py
  tests/starlite/schema.py
  tests/views/schema.py
Labels: bot:has-release-file, bot:release-type-patch

#2879 fix: fix a regression on StrawberryAnnotation.__eq__ method
  RELEASE.md
  strawberry/annotation.py
  tests/types/test_annotation.py
Labels: bot:has-release-file, bot:release-type-patch

#2875 Plumb the GraphQL typename through to clients if known.
  RELEASE.md
  strawberry/codegen/plugins/python.py
  strawberry/codegen/query_codegen.py
  strawberry/codegen/types.py
  tests/codegen/snapshots/python/fragment.py
  tests/codegen/snapshots/python/interface_fragments.py
  tests/codegen/snapshots/python/interface_single_fragment.py
  tests/codegen/snapshots/python/mutation-fragment.py
  tests/codegen/snapshots/python/union.py
  tests/codegen/snapshots/python/union_return.py
  tests/codegen/snapshots/python/union_with_one_type.py
  tests/codegen/snapshots/python/union_with_typename.py
Labels: bot:release-type-minor, bot:has-release-file

#2880 Add missing arguments to create_type
  RELEASE.md
  docs/guides/tools.md
  strawberry/tools/create_type.py
  tests/tools/test_create_type.py
Labels: bot:release-type-minor, bot:has-release-file

#2858 Fix deprecation warning
  RELEASE.md
  strawberry/a.graphql
  strawberry/b.gql
  strawberry/relay/types.py
  tests/relay/schema.py
  tests/relay/test_schema.py
Labels: bot:release-type-patch, bot:has-release-file

#2876 Support subscription errors without terminating
  RELEASE.md
  strawberry/channels/testing.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/subscriptions/protocols/graphql_transport_ws/types.py
  tests/views/schema.py
  tests/websockets/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#2894 Adjust to deprecations for graphql_core v.3.2
  RELEASE.md
  docs/integrations/aiohttp.md
  docs/integrations/asgi.md
  docs/integrations/chalice.md
  docs/integrations/django.md
  docs/integrations/fastapi.md
  docs/integrations/flask.md
  docs/integrations/sanic.md
  strawberry/http/__init__.py
  strawberry/schema/schema.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/subscriptions/protocols/graphql_ws/handlers.py
  tests/schema/extensions/test_mask_errors.py
Labels: bot:has-release-file, bot:release-type-patch

#2868 refactor: refactor the way we resolve annotations to better support future refs
  .pre-commit-config.yaml
  RELEASE.md
  pyproject.toml
  strawberry/arguments.py
  strawberry/field.py
  strawberry/relay/fields.py
  strawberry/relay/types.py
  strawberry/schema/schema_converter.py
  strawberry/type.py
  strawberry/types/type_resolver.py
  strawberry/types/types.py
  strawberry/utils/typing.py
  tests/relay/schema_future_annotations.py
  tests/relay/snapshots/schema.gql
  tests/relay/snapshots/schema_future_annotations.gql
  tests/relay/test_schema.py
  tests/utils/test_typing.py
  tests/utils/test_typing_forward_refs.py
Labels: bot:has-release-file, bot:release-type-minor

#2840 Implement unions as annotated types
  RELEASE.md
  docs/errors/invalid-argument-type.md
  docs/errors/invalid-type-for-union-merge.md
  docs/errors/invalid-union-type.md
  docs/guides/authentication.md
  docs/guides/errors.md
  docs/types/union.md
  pyproject.toml
  strawberry/annotation.py
  strawberry/exceptions/invalid_union_type.py
  strawberry/exceptions/utils/source_finder.py
  strawberry/federation/union.py
  strawberry/schema/schema_converter.py
  strawberry/union.py
  tests/codegen/conftest.py
  tests/fields/test_arguments.py
  tests/mypy/test_union.yml
  tests/objects/generics/test_generic_objects.py
  tests/pyright/test_union.py
  tests/schema/test_extensions.py
  tests/schema/test_union.py
  tests/schema/test_union_deprecated.py
  tests/test_printer/test_schema_directives.py
  tests/types/resolving/test_optionals.py
  tests/types/resolving/test_union_pipe.py
  tests/types/resolving/test_unions.py
  tests/types/resolving/test_unions_deprecated.py
  tests/types/test_annotation.py
  tests/types/test_object_types.py
Labels: bot:has-release-file, bot:release-type-minor

#2886 Upgrade command
  .pre-commit-config.yaml
  RELEASE.md
  docs/README.md
  docs/general/upgrades.md
  pyproject.toml
  strawberry/cli/__init__.py
  strawberry/cli/commands/upgrade/__init__.py
  strawberry/cli/commands/upgrade/_fake_progress.py
  strawberry/cli/commands/upgrade/_run_codemod.py
  strawberry/codemods/__init__.py
  strawberry/codemods/annotated_unions.py
  tests/cli/fixtures/unions.py
  tests/cli/snapshots/unions.py
  tests/cli/snapshots/unions_py38.py
  tests/cli/snapshots/unions_typing_extension.py
  tests/cli/test_upgrade.py
  tests/codemods/__init__.py
  tests/codemods/test_annotated_unions.py
  tests/codemods/test_annotated_unions_pipe.py
Labels: bot:has-release-file, bot:release-type-minor
