Repository strawberry-graphql/strawberry, pull requests merged in 2023-05, with the labels that each got.

#2731 Convert input arguments into Strawberry types for Field Extensions
  RELEASE.md
  strawberry/schema/schema_converter.py
  tests/schema/extensions/test_field_extensions.py
Labels: bot:has-release-file, bot:release-type-minor

#2703 Fix problems with timeouts in graphql_transport_ws
  RELEASE.md
  strawberry/aiohttp/handlers/graphql_transport_ws_handler.py
  strawberry/asgi/handlers/graphql_transport_ws_handler.py
  strawberry/channels/handlers/graphql_transport_ws_handler.py
  strawberry/starlite/handlers/graphql_transport_ws_handler.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  tests/http/clients/base.py
  tests/websockets/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#2568 Ruff ann001 + ann002
  RELEASE.md
  pyproject.toml
  strawberry/aiohttp/handlers/graphql_ws_handler.py
  strawberry/annotation.py
  strawberry/asgi/handlers/graphql_transport_ws_handler.py
  strawberry/asgi/handlers/graphql_ws_handler.py
  strawberry/asgi/test/client.py
  strawberry/auto.py
  strawberry/channels/handlers/base.py
  strawberry/channels/handlers/graphql_transport_ws_handler.py
  strawberry/channels/handlers/graphql_ws_handler.py
  strawberry/channels/handlers/http_handler.py
  strawberry/channels/handlers/ws_handler.py
  strawberry/channels/router.py
  strawberry/channels/testing.py
  strawberry/cli/commands/server.py
  strawberry/custom_scalar.py
  strawberry/django/__init__.py
  strawberry/experimental/pydantic/conversion.py
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/fields.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/experimental/pydantic/utils.py
  strawberry/ext/dataclasses/dataclasses.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/directives.py
  strawberry/extensions/mask_errors.py
  strawberry/extensions/max_aliases.py
  strawberry/extensions/runner.py
  strawberry/extensions/tracing/apollo.py
  strawberry/extensions/tracing/datadog.py
  strawberry/extensions/tracing/opentelemetry.py
  strawberry/federation/enum.py
  strawberry/federation/scalar.py
  strawberry/federation/schema.py
  strawberry/field.py
  strawberry/lazy_type.py
  strawberry/object_type.py
  strawberry/printer/printer.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema/types/base_scalars.py
  strawberry/schema/types/scalar.py
  strawberry/starlite/handlers/graphql_transport_ws_handler.py
  strawberry/starlite/handlers/graphql_ws_handler.py
  strawberry/test/client.py
  strawberry/types/fields/resolver.py
  strawberry/union.py
  tests/http/clients/async_flask.py
  tests/http/clients/base.py
  tests/http/clients/channels.py
  tests/http/clients/flask.py
  tests/schema/extensions/test_extensions.py
  tests/schema/extensions/test_opentelemetry.py
  tests/schema/test_directives.py
  tests/schema/test_execution.py
  tests/schema/test_info.py
  tests/types/test_execution.py
Labels: bot:release-type-patch, bot:has-release-file

#2753 Allow custom classes for Span attribute
  RELEASE.md
  strawberry/extensions/tracing/opentelemetry.py
  tests/extensions/__init__.py
  tests/extensions/test_custom_objects_for_setting_attribute.py
Labels: bot:release-type-patch, bot:has-release-file

#2495 Add initial sentry tracing extension
  RELEASE.md
  docs/extensions/sentry-tracing.md
  poetry.lock
  pyproject.toml
  strawberry/extensions/tracing/__init__.py
  strawberry/extensions/tracing/sentry.py
  tests/schema/extensions/test_sentry.py
Labels: bot:release-type-minor, bot:has-release-file

#2761 Add support for `IntEnum`
  RELEASE.md
  strawberry/enum.py
  tests/enums/test_enum.py
Labels: bot:release-type-patch, bot:has-release-file

#2774 fix: fix optional scalars using the "or" notation on python 3.10
  RELEASE.md
  strawberry/custom_scalar.py
  tests/test_forward_references.py
  tests/utils/test_typing_forward_refs.py
Labels: bot:release-type-patch, bot:has-release-file

#2773 Allow additional tags in DatadogTracingExtension
  .github/workflows/mypy.yml
  RELEASE.md
  docs/extensions/datadog.md
  strawberry/extensions/__init__.py
  strawberry/extensions/base_extension.py
  strawberry/extensions/tracing/datadog.py
  strawberry/extensions/tracing/opentelemetry.py
  tests/schema/extensions/test_datadog.py
Labels: bot:release-type-patch, bot:has-release-file

#2505 Extend query depth limiter allowing for more detailed rules
  RELEASE.md
  docs/extensions/query-depth-limiter.md
  strawberry/extensions/__init__.py
  strawberry/extensions/query_depth_limiter.py
  tests/schema/extensions/test_query_depth_limiter.py
  tests/schema/extensions/test_query_depth_limiter_deprecated.py
Labels: bot:release-type-minor, bot:has-release-file

#2782 2772 match annotations in pydantic schema
  RELEASE.md
  strawberry/experimental/pydantic/object_type.py
  tests/experimental/pydantic/schema/test_basic.py
  tests/experimental/pydantic/schema/test_defaults.py
  tests/experimental/pydantic/test_basic.py
Labels: bot:release-type-patch, bot:has-release-file

#2795 Get mutations to work with codegen
  RELEASE.md
  strawberry/codegen/query_codegen.py
  tests/codegen/conftest.py
  tests/codegen/queries/mutation.graphql
  tests/codegen/snapshots/python/mutation.py
  tests/codegen/snapshots/typescript/mutation.ts
Labels: bot:release-type-patch, bot:has-release-file

#2797 Do not choke on __typename in codegen.
  RELEASE.md
  strawberry/codegen/plugins/python.py
  strawberry/codegen/query_codegen.py
  tests/codegen/queries/union_with_typename.graphql
  tests/codegen/snapshots/python/union_with_typename.py
  tests/codegen/snapshots/typescript/union_with_typename.ts
Labels: bot:release-type-patch, bot:has-release-file

#2755 Allow passing metadata to Strawberry arguments
  RELEASE.md
  strawberry/arguments.py
  tests/schema/extensions/test_field_extensions.py
  tests/schema/test_arguments.py
Labels: bot:release-type-minor

#2775 Update Channels integration
  RELEASE.md
  docs/breaking-changes.md
  docs/breaking-changes/0.189.0.md
  docs/guides/file-upload.md
  docs/integrations/channels.md
  strawberry/channels/__init__.py
  strawberry/channels/context.py
  strawberry/channels/handlers/base.py
  strawberry/channels/handlers/http_handler.py
  strawberry/channels/handlers/ws_handler.py
  tests/channels/test_http_handler.py
  tests/http/clients/__init__.py
  tests/http/clients/channels.py
  tests/http/conftest.py
  tests/http/test_upload.py
  tests/views/schema.py
Labels: bot:release-type-minor, bot:has-release-file
