Repository strawberry-graphql/strawberry, pull requests merged in 2024-01, with the labels that each got.

#3318 fix(permissions): hotfix for regression on permission extension w/ subscriptions
  RELEASE.md
  strawberry/permission.py
  tests/schema/test_subscription.py
Labels: bot:has-release-file, bot:release-type-patch

#3322 Update mutations.md
  docs/general/mutations.md
Labels: ok-to-preview

#3341 fix(docs): Pydantic examples are now working properly.
  docs/integrations/pydantic.md
Labels: ok-to-preview

#3274 Add a way to filter fields
  RELEASE.md
  docs/types/schema.md
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  tests/pyright/test_federation.py
  tests/pyright/test_federation_fields.py
  tests/pyright/test_federation_params.py
  tests/pyright/test_fields.py
  tests/pyright/test_fields_input.py
  tests/pyright/test_fields_resolver.py
  tests/pyright/test_fields_resolver_async.py
  tests/pyright/test_params.py
  tests/pyright/test_private.py
  tests/pyright/utils.py
  tests/schema/test_schema_hooks.py
Labels: bot:has-release-file, bot:release-type-minor

#3356 Ignore additional payload data in ws
  RELEASE.md
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  tests/websockets/test_graphql_transport_ws.py
Labels: bot:has-release-file, bot:release-type-patch

#3213 Add Litestar integration
  RELEASE.md
  docs/README.md
  docs/integrations/litestar.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/litestar/__init__.py
  strawberry/litestar/controller.py
  strawberry/litestar/handlers/graphql_transport_ws_handler.py
  strawberry/litestar/handlers/graphql_ws_handler.py
  tests/conftest.py
  tests/http/clients/litestar.py
  tests/http/conftest.py
  tests/litestar/__init__.py
  tests/litestar/app.py
  tests/litestar/conftest.py
  tests/litestar/schema.py
  tests/litestar/test_context.py
  tests/litestar/test_response_headers.py
  tests/litestar/test_response_status.py
  tests/litestar/test_websockets.py
  tests/views/schema.py
  tests/websockets/conftest.py
Labels: bot:has-release-file, bot:release-type-minor

#3361 Improve error messages + add release.md requirements
  README.md
  RELEASE.md
  strawberry/relay/types.py
  tests/relay/test_fields.py
Labels: bot:has-release-file, bot:release-type-patch
