Repository strawberry-graphql/strawberry, pull requests merged in 2024-05, with the labels that each got.

#3480 perf(listconnection): only resolve edges when edges or pageInfo are selected
  RELEASE.md
  strawberry/relay/types.py
  strawberry/relay/utils.py
  tests/relay/test_types.py
Labels: bot:has-release-file, bot:release-type-patch

#3487 fix: list connection optimization
  RELEASE.md
  strawberry/relay/utils.py
  tests/relay/test_types.py
Labels: bot:has-release-file, bot:release-type-patch

#3492 fix: deprecate starlite integration. closes #3359
  .gitignore
  RELEASE.md
  docs/integrations/starlite.md
  strawberry/starlite/controller.py
  tests/starlite/test_context.py
Labels: bot:has-release-file, bot:release-type-patch

#3478 chore(docs): document all built-in scalar types. Closes #3404
  CHANGELOG.md
  RELEASE.md
  docs/types/scalars.md
  strawberry/scalars.py
  tests/schema/test_scalars.py
  tests/test_forward_references.py
  tests/test_printer/test_basic.py
Labels: bot:has-release-file, bot:release-type-minor

#3463 Discriminate generics inside lists
  RELEASE.md
  strawberry/schema/schema_converter.py
  strawberry/types/types.py
  strawberry/union.py
  tests/schema/test_generics.py
  tests/schema/test_generics_nested.py
Labels: bot:has-release-file, bot:release-type-minor

#3502 Fix generic interface inside union
  RELEASE.md
  strawberry/exceptions/__init__.py
  strawberry/types/types.py
  tests/schema/test_generics.py
  tests/schema/test_generics_nested.py
Labels: bot:has-release-file, bot:release-type-patch

#3507 fix: Fix Annotated + strawberry.lazy + deferred annotations
  RELEASE.md
  strawberry/utils/typing.py
  tests/schema/test_lazy/test_lazy_generic.py
  tests/schema/test_lazy/type_a.py
  tests/utils/test_typing.py
Labels: bot:has-release-file, bot:release-type-patch

#3429 Implement `oneOf`
  RELEASE.md
  TWEET.md
  docs/types/input-types.md
  strawberry/federation/object_type.py
  strawberry/object_type.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/schema/schema_converter.py
  strawberry/schema/validation_rules/__init__.py
  strawberry/schema/validation_rules/one_of.py
  strawberry/schema_directives.py
  strawberry/type.py
  strawberry/types/types.py
  tests/federation/printer/test_one_of.py
  tests/schema/test_one_of.py
  tests/test_printer/test_one_of.py
Labels: bot:has-release-file, bot:release-type-minor

#3511 Fix unclear error when missing dependencies
  RELEASE.md
  strawberry/cli/__init__.py
  strawberry/exceptions/__init__.py
  strawberry/exceptions/missing_dependencies.py
  tests/exceptions/classes/test_exception_class_missing_optional_dependencies_error.py
Labels: bot:has-release-file, bot:release-type-minor

#3241 Fix _RESOLVER_TYPE for async functions
  RELEASE.md
  strawberry/field.py
  tests/mypy/test_fields.yml
  tests/pyright/test_fields_resolver_async.py
Labels: bot:has-release-file, bot:release-type-minor

#3519 docs: deprecating fields
  docs/types/input-types.md
  docs/types/schema.md
Labels: ok-to-preview

#3524 fix: Fix lazy aliased connections type resolution
  RELEASE.md
  TWEET.md
  strawberry/relay/fields.py
  strawberry/utils/typing.py
  tests/relay/schema.py
  tests/relay/snapshots/schema.gql
  tests/relay/test_fields.py
  tests/types/test_lazy_types.py
Labels: bot:has-release-file, bot:release-type-patch

#3525 Implement federation fields and types using strawberry
  RELEASE.md
  TWEET.md
  docs/breaking-changes/0.233.0.md
  strawberry/federation/schema.py
  strawberry/types/types.py
  tests/federation/test_entities.py
  tests/federation/test_schema.py
Labels: bot:has-release-file, bot:release-type-minor

#3527 feat: Expose get_arguments method in schema_converter.py
  RELEASE.md
  strawberry/schema/schema_converter.py
Labels: bot:has-release-file, bot:release-type-patch

#3528 Fix oneOf introspection
  RELEASE.md
  TWEET.md
  strawberry/schema/schema.py
  tests/schema/test_one_of.py
Labels: bot:has-release-file, bot:release-type-patch

#3529 fix: Fix an issue preventing typing `root` with `strawberry.Parent`
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/fields/test_resolvers.py
Labels: bot:has-release-file, bot:release-type-patch
