Repository strawberry-graphql/strawberry, pull requests merged in 2024-04, with the labels that each got.

#3416 Schema extensions execution order should be LIFO
  .github/workflows/test.yml
  RELEASE.md
  strawberry/extensions/context.py
  tests/schema/extensions/test_extensions.py
Labels: bot:has-release-file, bot:release-type-patch

#3442 Add support for using FastAPI APIRouter arguments in GraphQLRouter
  RELEASE.md
  strawberry/fastapi/router.py
  tests/fastapi/test_openapi.py
Labels: bot:has-release-file, bot:release-type-minor

#3452 Fix GET requests with content_type headers
  RELEASE.md
  strawberry/http/async_base_view.py
  strawberry/http/sync_base_view.py
  tests/http/test_query_via_get.py
Labels: bot:has-release-file, bot:release-type-patch

#3217 Improve extensions error handling
  RELEASE.md
  strawberry/schema/execute.py
  tests/schema/extensions/test_extensions.py
  tests/schema/extensions/test_parser_cache.py
  tests/schema/test_execution_errors.py
  tests/types/test_execution.py
Labels: bot:has-release-file, bot:release-type-minor

#3453 Add docs about self/parent/root
  docs/README.md
  docs/guides/accessing-parent-data.md
  docs/types/resolvers.md
Labels: ok-to-preview

#3368 Fix strawberry mypy plugin for `from_pydantic` method
  RELEASE.md
  strawberry/ext/mypy_plugin.py
  tests/mypy/test_pydantic.decorators.yml
Labels: bot:has-release-file, bot:release-type-patch

#3462 Mypy Pydantic 2.7.0
  RELEASE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/ext/mypy_plugin.py
Labels: bot:has-release-file, bot:release-type-patch

#3116 Initial stab at improving codegen via DAG
  RELEASE.md
  TWEET.md
  poetry.lock
  pyproject.toml
  strawberry/schema_codegen/__init__.py
  tests/schema_codegen/test_order.py
Labels: bot:has-release-file, bot:release-type-minor

#3003 Don't override annotations when processing a type
  RELEASE.md
  pyproject.toml
  strawberry/experimental/pydantic/error_type.py
  strawberry/experimental/pydantic/object_type.py
  strawberry/federation/schema_directive.py
  strawberry/object_type.py
  strawberry/schema_directive.py
  strawberry/types/type_resolver.py
  tests/types/test_object_types.py
Labels: bot:has-release-file, bot:release-type-patch

#3467 Fix incorrect docstring for `to_base64` Relay util
  RELEASE.md
  strawberry/relay/utils.py
Labels: bot:has-release-file, bot:release-type-patch
