Repository strawberry-graphql/strawberry, pull requests merged in 2024-08, with the labels that each got.

#3609 Remove starlite
  RELEASE.md
  docs/integrations/starlite.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry/starlite/__init__.py
  strawberry/starlite/controller.py
  strawberry/starlite/handlers/__init__.py
  strawberry/starlite/handlers/graphql_transport_ws_handler.py
  strawberry/starlite/handlers/graphql_ws_handler.py
  tests/conftest.py
  tests/http/clients/starlite.py
  tests/http/conftest.py
  tests/litestar/conftest.py
  tests/starlite/__init__.py
  tests/starlite/app.py
  tests/starlite/conftest.py
  tests/starlite/schema.py
  tests/starlite/test_context.py
  tests/starlite/test_response_headers.py
  tests/starlite/test_response_status.py
  tests/starlite/test_websockets.py
  tests/views/schema.py
  tests/websockets/conftest.py
Labels: bot:has-release-file, bot:release-type-minor

#3599 Use the correct iscoroutinefunction function for python 3.12+
  RELEASE.md
  strawberry/types/fields/resolver.py
  tests/fields/test_permissions.py
  tests/types/test_resolver_types.py
Labels: bot:has-release-file, bot:release-type-patch

#3076 Add support for multipart subscriptions
  RELEASE.md
  TWEET.md
  docs/README.md
  docs/general/multipart-subscriptions.md
  docs/integrations/index.md
  pyproject.toml
  strawberry/aiohttp/views.py
  strawberry/asgi/__init__.py
  strawberry/channels/handlers/http_handler.py
  strawberry/django/views.py
  strawberry/fastapi/router.py
  strawberry/flask/views.py
  strawberry/http/async_base_view.py
  strawberry/http/base.py
  strawberry/http/parse_content_type.py
  strawberry/http/sync_base_view.py
  strawberry/litestar/controller.py
  strawberry/quart/views.py
  strawberry/sanic/views.py
  strawberry/schema/base.py
  strawberry/schema/execute.py
  strawberry/schema/schema.py
  strawberry/subscriptions/protocols/graphql_transport_ws/handlers.py
  strawberry/types/__init__.py
  strawberry/types/execution.py
  strawberry/types/graphql.py
  tests/http/clients/async_django.py
  tests/http/clients/base.py
  tests/http/clients/fastapi.py
  tests/http/test_multipart_subscription.py
  tests/http/test_parse_content_type.py
  tests/http/test_query.py
Labels: ok-to-preview, bot:has-release-file, bot:release-type-minor
