Repository strawberry-graphql/strawberry, pull requests merged in 2024-03, with the labels that each got.

#3403 Added an option to pass connection params when initiating connection …
  RELEASE.md
  docs/integrations/channels.md
  strawberry/channels/testing.py
  tests/channels/test_testing.py
Labels: bot:has-release-file, bot:release-type-minor

#3420 Support Federation Spec 2.7
  .github/workflows/federation-compatibility.yml
  RELEASE.md
  docs/guides/federation.md
  strawberry/federation/enum.py
  strawberry/federation/field.py
  strawberry/federation/object_type.py
  strawberry/federation/scalar.py
  strawberry/federation/schema_directives.py
  tests/federation/printer/test_authenticated.py
  tests/federation/printer/test_compose_directive.py
  tests/federation/printer/test_entities.py
  tests/federation/printer/test_inaccessible.py
  tests/federation/printer/test_interface.py
  tests/federation/printer/test_interface_object.py
  tests/federation/printer/test_keys.py
  tests/federation/printer/test_link.py
  tests/federation/printer/test_override.py
  tests/federation/printer/test_policy.py
  tests/federation/printer/test_provides.py
  tests/federation/printer/test_requires.py
  tests/federation/printer/test_requires_scopes.py
  tests/federation/printer/test_shareable.py
  tests/federation/printer/test_tag.py
Labels: bot:has-release-file, bot:release-type-minor

#3389 Add scalar_override example to File Upload
  docs/guides/file-upload.md
Labels: ok-to-preview

#3410 Fix deprecation warning in apollo extension.
  RELEASE.md
  strawberry/extensions/tracing/apollo.py
Labels: bot:has-release-file, bot:release-type-patch
